[2016-01-06 14:51] alsaihn commented on #450
Working on this one

[2016-01-06 15:08] rwherrmann commented on #416
@rwherrmann is going to work on this issue.

[2016-01-06 15:13] rwherrmann commented on #398
@BillWagner I think this one may already be complete.

[2016-01-06 15:16] mjmilan commented on #406
Looking at the code for this, the issue is in the ClusterCoordinatorController/GetDisasterClusterCoordinatorsViewModel method. As the code tries to build the clusterViewModel it tries to assign to the Coordinators property. That attempt involves the following invocation of the Select LinQ method:

.Select(x => new ClusterCoordinatorViewModel

[2016-01-06 15:16] rwherrmann commented on #406
@rwherrmann will work on this issue.

[2016-01-06 15:17] mjmilan commented on #406
@rwherrmann - note my comment above as to cause...

[2016-01-06 15:19] rwherrmann commented on #406
@rwherrmann will work on this one.

[2016-01-06 15:19] mjmilan commented on #406
Actually, a slightly different approach is needed...

[2016-01-06 15:21] mjmilan commented on #406
You have it

[2016-01-06 15:36] mjmilan commented on #406
My comments above were misleading - a ClusterCoordinator is found, but the Person property hasn't been populated - hence the call to Person.FullName on the Select lambda fails...

Sorry for confusion...

[2016-01-06 15:45] rwherrmann commented on #406
Thanks for the info.  I am thinking that the source of the issue is that
when a volunteer removes themselves from a commitment, we should also check
if they are a coordinator and remove that as well.  We can code around the
issue in the ClusterCoordinator controller but the underlying data issue
will still be there.

Does that make sense?

On Wed, Jan 6, 2016 at 10:36 AM, Martin Milan <notificatio

[2016-01-06 16:05] mjmilan commented on #406
Yes - you're on the right track... I've kept looking at this, and it looks like the DataService's RemoveCommitmentById method needs to also remove any ClusterCoordinators for the Cluster we are looking at.

I'll leave that for you, unless you can't do it, in which case I will do it later tonight...

[2016-01-06 16:07] rwherrmann commented on #406
That's what I am thinking too - remove the cluster coordinator data at that
point if it exists.  I can finish that now.

On Wed, Jan 6, 2016 at 11:06 AM, Martin Milan <notifications@github.com>
wrote:

[2016-01-06 16:07] mjmilan commented on #406
It goes without saying (and indeed just did) that the only ClusterCoordinators we would remove would be where the cluster and person matched the cluster and person of the commitment we were removing though...

ClusterId is nullable on the Commitment by the looks of things as well...

[2016-01-06 16:10] mjmilan commented on #406
It would be nice to do this at the schema level. I'm not seriously proposing a trigger, but that sort of idea - so if the commitment is removed, the clusterCoordinator dies with it as a consequence of the database alone. There could be an approach with ForeignKeys, but I'm too tired to think about it...

My advice then - go for the hack on the data service...

[2016-01-06 16:28] mtherien commented on #403
I'll take a look at this

[2016-01-06 16:53] mtherien opened #456 "Added 1 cluster to a new disaster, send to volunteers page not filtering cluster"
Steps to reproduce:
1. Create a new disaster with 1 cluster selected
2. Send a message to volunteers on the new disaster created in step 1
3. The list of clusters to send the email to has all clusters, not just the one selected in the disaster

[2016-01-06 17:04] mtherien commented on #403
I tried to reproduce this and cannot.  I'll dig into the code to see if there is something I am missing in reproducing

[2016-01-06 18:13] rwherrmann commented on #385
@rwherrmann will work on this one.

[2016-01-06 18:32] mtherien opened #458 "Send email to volunteers does not consider filter by selected cluster"
Discovered when looking at #403 .

The code never filters recipients based on the selected clusters.  MessageService.SendMessageToDisasterVolunteers needs to consider cluster ids passed.

[2016-01-06 18:35] mtherien commented on #403
It appears the code never looks at the clusters selected so it never filters the recipient list.  I'm not sure how this failed before.

@BillWagner @tonysurma This should be closed.  Created issue #458 to track the problem of not filtering the list.

[2016-01-06 18:42] mtherien commented on #458
I'll start on this since I'm here

[2016-01-06 18:50] rwherrmann commented on #416
@rwherrmann will work on this one.

[2016-01-06 19:38] rwherrmann commented on #284
@rwherrmann is working on this

[2016-01-06 19:46] #385 closed

[2016-01-06 19:47] BillWagner commented on #406
Fixed in PR #457

[2016-01-06 19:47] #406 closed

[2016-01-06 19:47] #416 closed

[2016-01-06 21:04] mjmilan commented on #402
The scenario described is something we ought to stop the user from being able to do. I don't think it makes sense to have them volunteer but not specify which cluster / activity their expertise lies within...

That said, I am a newcomer to the project - you'd do well to take steer from @BillWagner ...

[2016-01-06 21:06] alsaihn opened #462 "Merge Cluster and ClusterGroup list pages"
Currently separate pages that don't show the association.

Target is a single page that has the Clusters under their Cluster Group with the ability to alter group fields, cluster fields and add/delete both.

Might be a good place for bootstrap's accordian.

[2016-01-06 21:59] mgroves commented on #384
I'll take this one

[2016-01-07 02:43] #450 closed

[2016-01-07 02:44] #284 closed

[2016-01-07 02:44] #384 closed

[2016-01-07 03:47] BillWagner commented on #398
@rwherrmann Thanks for verifying. It should have been closed with PR #423, but I missed tagging it.

closing now.

[2016-01-07 03:47] #398 closed

[2016-01-07 10:25] mjmilan commented on #395
I think this bug might be outdated...

I've scanned the code for the message you have supplied, but I can't find it (even when searching by fragments) anywhere in the codebase. With that in mind I have gone through the steps you have supplied, and the message I am getting is "You already have a commitment for this date range."

I therefore suspect we may be able to close this issue, but that's a d

[2016-01-07 10:53] mjmilan commented on #402
@chazkyle

Is this still a valid issue Charles?

The reason I ask is that I am new to the project, so I've been looking for this "Actvity" that Disasters are supposed to have, but I can't find any trace of them. I am proceeding under the assumption that at some point before I started looking at the project they were renamed to Clusters, though I'm not sure about that because the exception text you

[2016-01-11 10:38] mjmilan commented on #387
It would be helpful if you could confirm whether the issue is a generic issue throughout the site, or merely confined to the single instance to which you refer...

Thanks,

Martin

[2016-01-13 09:26] mjmilan commented on #391
Can you provide an example where a lightbox has been used?

[2016-01-15 03:05] RyanBetker commented on #426
@BillWagner , any ideas on this (getting local source copy matching the web) for the weekend/next week?

[2016-01-17 11:25] BillWagner commented on #426
Ryan,

I hate to say this, but at this point, it might be best to simply fork and clone the repository again.

Could you make a backup of the work in progress, and save time from that?

[2016-01-18 00:45] RyanBetker commented on #426
Thanks for getting back to me. I'll go ahead and do that as time allows. :)

[2016-01-19 12:44] RyanBetker commented on #426
@BillWagner , I've been really busy with EF6 for my day job.  With only so much IT battery juice in me, I don't happen to have bandwidth left for this bug. Can you please have someone take over? The stacktrace I gave should be a time saver. :)

Just to make sure this gets decent enough priority: I thought it would be a good one to have solved because it would let the actual users demo the site bef

[2016-01-20 19:05] BillWagner commented on #426
@RyanBetker That's understandable. I'll leave this open, and anyone else can jump in.

[2016-01-25 00:36] mjmilan commented on #315
Hi @tonysurma

I've been looking at a lot of the ODF issues this evening, and unless I am missing something we seem to be missing a business analyst - and that's the first time I have ever complained about that lol!

For instance - here we find ourselves creating Organisations to act as an umbrella for Volunteers. Can a volunteer be a member of more than one organisation? The simple answer would b

[2016-02-16 14:46] NaveenP94 opened #466 "Organization Profiles"
_We need to add organizations as a type of user, since they are different then an individual volunteer. The true capabilities of ODF is in its ability to organize and share information between different organizations.
_
Characteristics of the Profile:

- [ ] Admin/Owner of the profile-> this person will most likely be someone in a leadership position within the organization, they have the expertis

[2016-03-09 19:03] NaveenP94 opened #467 "Registering an Organization"
Once a volunteer has completed and verified their registration we should have a button on the Volunteer Home page to register an organization. This should link us to a new page (needs to be created) in which we can put in the

-Name of the organization
-Location ( just input and address for now)
-Type ( drop down list with options like Non-profit, NGO, Private, State, Local)

The person that is re

[2016-03-09 19:08] NaveenP94 opened #468 "Organization Home Page"

[2016-03-09 19:18] NaveenP94 opened #469 "Organization Contact List back end"
We need to edit the table/DB that stores all the volunteer users to include a field called Organization (if a volunteer is not affiliated with an organization then that entry should be "Independent") make this the default when a new entry(volunteer profile)  is added unless an organization name is specified.

[2016-03-09 19:27] NaveenP94 opened #470 "Organization Profile Table setup"
We will have to create a new table that stores all the Organization profiles within the overall Profile DB (the DB where the table that stores the Volunteer profiles live)

the Fields will include
- Name of organization
- Location (just and address for now)
- Type ( this will be from a standardized list of  Non-profit, NGO, Private, State, Local)
- POC ( should be reference to an entry in the tabl

[2016-03-09 19:35] NaveenP94 opened #471 "Modify Volunteer Registration to include Organizations"
In order to incorporate Organizations in user profiles we will need to slightly modify the volunteer registration page to allow for an person to select from a drop down which organization they would like to affiliate with. The data for this drop down can be pulled from the Organization profiles #470

The default should be "Independent" *note this will not be an entry in the Organization table

[2016-03-09 19:39] NaveenP94 opened #472 "Organization Contact List Table Setup"
We want to create a simple table with the Field "Contact" the entries should be references to other entries in either the Volunteer Profile table or the Organization profile table

[2016-03-09 20:08] NaveenP94 opened #473 "Add Organization Resources Functionality"
We need to create a entity (and associated db & ui changes) that holds the Resources of the Organizations that are checked in.  E.g. An Organization can check in 10 Pickup Trucks for next week to a particular location. Logically similar to a volunteer checking in only this is for resources.

Should include data below:

- Name of the resource (non standardized)
- Type of resource  (standardized to

[2016-03-09 20:29] NaveenP94 opened #474 "Update Volunteer Home Page to Display Associated Organization Name"
Since we are adding Organizations into the system, the Organization name that the profile is associated with should be displayed on the Volunteer Home page in the same area as "Commitment for today" the association for this will be added in issue #469

[2016-03-09 20:45] NaveenP94 opened #475 "Disaster Home Page- Adim view"
I think that with the added complexities that come with adding Organizations to the system we might want to create a Disaster Home page per disaster (for right now we want to limit the view to just the Admin user)

From the Disaster List page we want to be able to click on the Disaster name and go to a page where we have tabs to view different lists  basically this would act like a front end view

[2016-03-09 21:19] mjmilan commented on #469
I think something you need to consider is whether or not a volunteer can be a member of more than one organisation. I don't know, but I presume some aid workers are registered with more than one organisation.

[2016-03-09 21:29] tonysurma commented on #469
Great point and over time we will move to that and even perhaps to do it as part of each checkin.  For now we are focusing on 'mainline' volunteers who are almost pseudo staff of the org to reduce initial complexity.  Thanks

[2016-03-15 14:26] mjmilan commented on #470
I've created a basic definition for the table, with a many to many with disasters (surely correct), and Address implemented as a complex type. Pull request #476

[2016-03-22 15:08] mjmilan commented on #454
@tonysurma This has been done, has it not?

[2016-03-22 15:09] mjmilan commented on #452
I believe this is current provided for at the database layer - Organisations have a required POC.

[2016-03-22 15:49] tonysurma commented on #454
@mjmilan I will review all of these with respect to what was code recently to see what is closed, what needs to be pushed further and what incurred technical debt (hacky choices, APIs in the wrong place etc., due to the speed of getting it in)

[2016-03-22 23:51] mjmilan commented on #443
Are we sure this is the case? I have just deleted my connection in visual studio 2015, then deleted the files from the AppData folder using Windows Explorer, and then used

`update-database -projectName Models`

This seems to have worked fine, created and seeded the database for me...

[2016-03-23 14:41] mjmilan commented on #458
Can this be closed now given we have a code contribution on it? Did it work?

[2016-03-24 00:42] BillWagner commented on #458
Yes, it can be closed. It looks like the PR didn't use the magic 'fixes' syntax, and I missed it when I merged the PR. Closing now.

[2016-03-24 00:42] #458 closed

[2016-03-24 11:10] mdoleh commented on #443
Forgot to mention, this is on Visual Studio 2013.

[2016-03-24 11:18] mjmilan commented on #443
Does it not regenerate the database in response to update-database? I would not have expected this to be dependent on the version of studio used...

Can you recreate the issue?

[2016-03-28 19:23] mdoleh commented on #443
Honestly, I don't remember exactly what the issue was. I believe it would throw an error instead of generating the database when running the command. I ran through the setup as part of a conference session and was instructed to open this issue by @tonysurma after finding that creating the database manually then running the command was the fix.

[2016-03-28 22:42] mjmilan commented on #443
Ok... I don't have access to a VS2013 installation here, but I could try it out from the office in the morning...

[2016-03-29 08:40] mjmilan commented on #443
Just ran a quick test - the project no longer compiles under VIsual Studio 2013 because someone has made use of the safe navigation operator (?.).

[2016-03-29 11:45] mjmilan commented on #471
I believe @tonysurma has already done this.

Can we close this one Tony?

[2016-03-29 12:01] BillWagner commented on #443
Ugh. I missed that in review. @mjmilan since you found it, if you get me a PR I will merge it right away.

[2016-03-29 12:39] mjmilan commented on #443
Hi Bill,

I'm working on the day job at the mo... Can you wait until tonight (8 or 9 hours) for the PR?

Martin

[2016-03-29 12:43] #471 closed

[2016-03-29 12:51] BillWagner commented on #443
:+1:

[2016-03-29 12:58] mjmilan commented on #443
PR #488 BIll - just had a coffee break and it's not a big job.

[2016-04-01 08:23] mjmilan commented on #397
Subject to my Pull Request being accepted, I believe this issue can be closed.

[2016-04-01 09:06] mjmilan commented on #372
This is surely more a deployment task when we come to create a production environment. For developers working on the site as it is now, the detailed error reports are useful.

Also, there are alas difficulties associated with concealing the database structure of a well known open source application... (Though I agree with your point as a general principal)

[2016-04-01 17:24] BillWagner commented on #397
fixed in #489

[2016-04-01 17:24] #397 closed

[2016-04-05 11:46] mjmilan commented on #388
Can one of the project contributors please review this to see if it is still an issue?

![htbox](https://cloud.githubusercontent.com/assets/6794223/14280691/293e4f62-fb2c-11e5-88a3-3c049a9c6634.png)

Whilst I agree it's not consistent when compared to the other control's with their "choose one" defaults, I don't think this looks all that strange.

Do we continue with this issue, or can we close it

[2016-04-05 11:49] mjmilan commented on #386
It is not uncommon to only provide validation feedback once the server has processed an intial request - a lot of sites do this.

Can this be closed?

[2016-04-05 12:06] BillWagner commented on #388
@tonysurma Can you give this a look?

[2016-04-05 12:09] BillWagner commented on #386
When possible, I'd like to see immediate feedback on the client. I'll defer to @tonysurma for final guidance though.

[2016-04-05 12:33] mjmilan commented on #386
That's fair enough @BillWagner ...

[2016-04-05 22:41] tonysurma commented on #386
Agree, client side pre post feedback is the goal when possible

[2016-04-05 22:41] tonysurma commented on #388
I'm okay with this as is

[2016-04-05 22:41] #388 closed

[2016-04-06 12:00] mjmilan commented on #378
@tonysurma  The problems with this bit of functionality seem to extend well beyond this. I have some code that I can put into a pull request that will replace the people dropdown with a bit of text explaining that noone is available, but I've also had a look through the code and all is not as straightforward as it might seem...

The list of people available to be selected from the Available People

[2016-04-06 14:04] NaveenP94 opened #490 "Edits for Resources Table & View"
The following are changes that are needed for the Resources table on the "View Checkins" page:

- [x] Add Time Stamp to when entry is made (When someone checks in a resource we want the time of entry displayed in the table) *the user should not have to manually input the time rather pull the time when the server is pinged with the request

- [x] Display Name of Organization & Name of user that che

[2016-04-06 14:27] NaveenP94 opened #491 "Edit to "Location" Text box under Disaster Checkin on Volunteer Home Page"
This should be a quick fix:
The text box under the drop down menu when volunteering for a disaster is misleading. I think just switching the location of the drop down menu and text field will make more sense to people. If they type their "Location" first then they can select from the drop down under it. Many people during the NYC Test exercise did not fill out the text box under the drop down menu

[2016-04-06 15:15] NaveenP94 opened #492 "Change Resource Checkins table name"
For the Silver Dragon exercise we are repurposing the resources table to handle reporting of tasks completed and hazards.

- [x]  So if we could change the name of the table on the "View Checkins" page to "Field Reported Data" that would be great.

- [x] On the "Volunteer Home" page if we could change the title "Checkin a New Organization Resource" to "Report New Data"

[2016-04-06 16:02] mjmilan commented on #378
PR #493 - though think about it before you apply...

[2016-04-06 19:45] NaveenP94 opened #494 "Filter options for Resource Checkin table"
For the Silver Dragon Exercise it would be beneficial to the fire chiefs and other coordinators to be able to filter the table by the columns:

- "Type"

-  "Start Date" (since the exercise is only one day, we should filter by timestamp w/ option for ascending and descending)

- "Location" (even though this is a open text field the volunteers will be briefed to use common neighborhood names, but m

[2016-04-07 07:12] mjmilan commented on #490
2ns and 3rd tasks addressed by #495

[2016-04-07 20:33] tonysurma commented on #490
Thank you @mjmilan for the quick turnaround!

[2016-04-07 20:40] mjmilan commented on #492
Pull request #496 completes both of the tasks for this issue.

[2016-04-07 20:41] mjmilan commented on #490
No problem...

[2016-04-07 20:44] #492 closed

[2016-04-07 20:46] mjmilan commented on #490
The first task gives rise to some questions... Does it really make sense that we set the time according to the time when the transaction is made? If as a user I am saying that something will be available from next Tuesday until next Friday, does anyone care about the fact that I happen to be doing this at 14:17 the previous Monday?

Why is 14:17 considered as special?

Would it not make more sense

[2016-04-07 20:52] tonysurma commented on #490
Great question, in the long run we may be adding times to the commitments (pending discussions as for most all it will stay at the day level)

For now we want to know when theses are checked in for two reasons: timeliness/staleness of data and also as current excercises are looking to run this in 'real time' and the timestamps will help.

Separately I am editing the issue as it should actually not

[2016-04-07 20:55] tonysurma commented on #490
For #3 this is handled by data entry that we will do for the exercise

Thanks again

[2016-04-11 13:59] tonysurma commented on #490
first item is complete as well - verified

[2016-04-11 13:59] #490 closed

[2016-04-11 14:48] #491 closed

[2016-04-12 13:35] mjmilan commented on #474
@tonysurma Can this issue not be closed now?

[2016-04-12 13:39] tonysurma commented on #474
Yes, wasn't auto updated from the PR

[2016-04-12 13:39] #474 closed

[2016-04-14 06:50] mjmilan commented on #494
I was going to take this on, but there are questions that need to be asked first.

The start date filtering - if this is the availability start date then surely we should be filtering on that directly, and not the timestamp.. I'm also troubled by the notion of implementing code in a particular way in order to facilitate one particular exercise. I believe we should code for the general case, and if

[2016-04-14 07:00] mjmilan commented on #116
I must admit that I too have had issues with the dates, but rather naughtily didn't pursue them. I am in the United Kingdom, and our date format is dd/mm/yyyy, as opposed to this mm/dd/yyyy nonsense that our American cousins prefer...

I beiieve I found that the date picker was assigning dates to the textbox in the American format, and that when they were then submitted the values in the textbox w

[2016-04-14 07:11] mjmilan commented on #470
@tonysurma Can this issue be closed now? We have the table...

[2016-04-14 12:08] #470 closed

[2016-04-19 08:41] mjmilan commented on #443
@tonysurma I think this can be closed.

[2016-04-19 15:06] mjmilan commented on #467
Hi @tonysurma,

I am almost at a point of having a pull request together for this, but I noticed in commit 894f2976 you seem to have removed the POC from the organization. Was this deliberate? It's just that it is being asked for again here...

I just need to have a successful run through, through some test code into the mix, and then I'll be able to give you a Pull Request on this...

Cheers.

Ma

[2016-04-20 23:21] tonysurma commented on #443
yep, thx again

[2016-04-20 23:21] #443 closed

[2016-04-20 23:25] tonysurma commented on #467
Hi @mjmilan, it was intentional for two reasons:
first issue was that there was no way to set it and I was manually entering organizations and for the exercise needed to take it out to get ready - your new UI etc. will make that issue go away
second issue was that it made the indexes/table relationships funky - I will peek at your PR to see if what was weird gets in there again

So please re-add a

[2016-04-21 07:42] mjmilan commented on #467
Ok Tony - I'll reinstate it.

At the moment this is purely an "Add Organisation" page, and the POC will be the logged in user. I certainly think we need the ability to both list organisations and edit them (you should only be allowed to edit an organisation if you are the POC for it), but I guess that will come in other Issue tickets.

Let's get this one out of the way first. I'll have a PR for yo

[2016-04-21 13:00] aarjay opened #499 "Change Password feature needs to be strengthened, currently accepts old password as a new password."
User logins in as a volunteer to crisis checkin web application on the chrome browser ( version 49.0.2623.112)
Clicks on Change password
Enters the old password in the old password field
Enters the old password in new password fields and submits
Actual - Old password is accepted as new password
https://crisischeckin-d.azurewebsites.net/Account/PasswordChanged
Expected - security warning and passwo

[2016-04-22 16:33] NaveenP94 opened #500 "Requested Changes from Siliver Dragon excerise"
This is issue will cover the overall changes that we need to make in response to the feedback from the Silver Dragon Exercise volunteers. Most of these changes are in an effort to make the site easier to use on a mobile browser. (Details for each request will be a separate issue)

1) Creating separate pages and tables for the 4 overarching data types being shared between organizations, which is th

[2016-04-25 13:37] NaveenP94 opened #501 "Task/Request table Details"
We would like to create a task/request table, this is basically where the EOC main decision makers can put out tasks to the volunteer community and people can assign themselves to them. We should have it such that only the Admin account can submit tasks. The fields for the columns of this table should include

- Entry Made (this is a time stamp of when it was submitted)
- Description (open text fi

[2016-04-25 13:45] NaveenP94 opened #502 "Create separate page for Field reported data"
Currently we have all the checkins and contact information as well as connections on the same page as the field reported data. It might be easier to move the Field reported data to another page and another tab on the red ribbon next to "View Checkins" called "View Data", once the tab is clicked it should take the user to a page that is the same as the page when "View Checkins" is clicked, so the t

[2016-04-25 13:54] NaveenP94 opened #503 "Creating separate page for Resources table"
We would like to create a separate page for volunteers to be able to view available resources. To get to this page we need to create a tab on the red ribbon similar to "View Checkins" and call is "View Resources" again similarly to the "View Checkins" the user should first be brought to a page labeled "List Resources" and select the disaster and filter by date.

The table it self will include fiel

[2016-04-25 13:57] NaveenP94 opened #504 "Add new form to Volunteer home page to submit resources"
Since we are separating the pages we may want to add another form under the "Report New Data"  form to allow for users to add Resources. It will look the exact same as the Report new data form except that the Type drop down should be populated with different options, as types of resources would be different then types of field reported data.

[2016-04-25 14:10] NaveenP94 opened #505 "Adding built in spell check into text boxes"
The mobile users found that adding a spell check feature would make it easier to use since make were mistyping and when trying to click on the text to change it clicked out of the text box.

[2016-04-25 14:15] aarjay opened #506 "Confirmation warning required wherever necessary for delete / remove functionality"
Login to Crisis check in web application on a preferred browser.
Input data for 'my organization data' and / or 'make a new commitment'.
Click on remove button to remove / delete the added data.

Actual - Remove deletes the entry from the list of added data to  'my organization data' and / or 'make a new commitment'.
Expected - Confirmation message / pop up can help here.

[2016-04-25 14:22] NaveenP94 commented on #494
Being able to sort and filter theses tables were at the request of not only the fire chiefs but operators in the EOC, and should be a standard function. Its adds to the usefulness of our tool, by making the data we are sharing more digestible for decision makers.

[2016-04-25 14:26] NaveenP94 commented on #506
This is a good point, we should also have a pop up message when a user submits a new resources, or reports new field data. We found that during the exercise volunteers were not sure if what they submitted actually went through or if they miss clicked (especially useful to mobile users).

[2016-04-26 06:54] mjmilan commented on #467
Tony,...

I am having the problems with the database migration to which you referred earlier... I will sort it, if necessary I'll check in the page without POC on locations

[2016-04-26 15:04] NaveenP94 opened #507 "Adding option to attach pictures when reporting field data"
Some of the volunteers thought that when reporting data from the field especially hazards they wanted to be able to take a picture with their phone and add it as an attached file to their table entry. This would require and edit to the "Report New Data" form and have an option to upload a file. Then when viewing the page with the reported data table one of the columns will have a button they can c

[2016-04-26 15:08] NaveenP94 opened #508 "Adding option to attach picture when declaring a new resource"
Sometime a one line description may not be sufficient to determine if a resource is the right "tool for the job". Adding the ability to attach a photo of the resource can give decision makers a better idea of what they are dealing with and can plan accordingly. This will require the adding a field to the adding resource form that will be on the volunteer home page. Also it will require another col

[2016-04-26 15:22] tonysurma commented on #467
gotcha, feel free to do it without POC and we can make that a separate issue/work item.  Thanks!

[2016-04-26 18:12] BillWagner commented on #507
@NaveenP94 I think that's an excellent idea, especially as we create better mobile app support. I want to balance that against the possible bandwidth hit when someone may not have the best connectivity. /cc @tonysurma who has done quite a bit of research here.

[2016-04-28 14:32] NaveenP94 opened #509 "Geolocation feature on mobile website"
The volunteers had some difficulty inputting their location into the text box. Since many users of the site will be accessing it from mobile browsers, we should ask if we can use their location services to make this task easier for them.  This way when they want to fill out a form they can click a button to log their location and not have to manually type it in.

Below is a link to a good referenc

[2016-04-28 16:00] NaveenP94 opened #510 "Prepopulate the Disaster Fields for textboxes"
This is a small convince that some of the volunteers had asked for. Since for the most part volunteers would only be responding to one disaster at a time, maybe we could prepopulate the forms for adding resources, reporting data, viewing checkins etc. with the current disaster they are checked into (crossed referenced by the current date and the date range they have committed too). So that instead

[2016-05-02 19:10] adinnaplus opened #511 "Test"
test

[2016-05-03 22:10] adinnaplus opened #512 "Server error when creating new volunteer acct without all required inputs"
P3 error
https://crisischeckin-d.azurewebsites.net/Account/Register

Server error when creating new volunteer acct without all required inputs and clicking create new acct.

Produced in FF and Chrome
Server Error in '/' Application.

Value cannot be null.
Parameter name: items

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack tra

[2016-05-03 22:14] adinnaplus commented on #512
<img width="1188" alt="server error" src="https://cloud.githubusercontent.com/assets/3785275/15000062/ee333abe-115a-11e6-97d1-556d6534c4d8.png">

[2016-05-03 22:29] adinnaplus opened #513 "Invalid date formats accepted"
Common date formats not required. Correct by using regex expressions may be a viable solution.

[2016-05-04 13:45] tdbridge commented on #512
I also got this error.

To obtain the screen, I entered "L" in the first name field.  I entered "C" in the last name field.  Finally, I clicked the button to submit.
The fields left blank included: organization, phone number, email, username, password, and confirm password.

My stack trace contained the same <div> in the HTML and error of Value cannot be null.
__________
When I went to search for

[2016-05-04 13:45] hari opened #514 "Error while registering user"
Priority - P1
Steps to create
1. Register new user
2. give the user id as "hari@'
3. Got the message as "User id already exists"
4. If you go ahead registering the user  without changing it . it gives the following error
![screenshot 2016-05-04 at 9 41 44 am](https://cloud.githubusercontent.com/assets/19173572/15015981/f0c163b4-11dc-11e6-9c53-734706af9d5d.png)

[2016-05-04 13:47] hari opened #515 "Error while doing forgot password"
Priority - P1

Steps
-------
1. Click the forgot password
2. give the user id as "hari@"
3. Got the following error
![screenshot 2016-05-04 at 9 42 06 am](https://cloud.githubusercontent.com/assets/19173572/15016050/3c1d8aea-11dd-11e6-93bd-491c715887f1.png)

[2016-05-04 13:52] dhjepsen opened #516 "P3 The Quantity field gives an error message when an amount is incorrect but doesn't indicate amounts that are valid."
![screenshot 2016-05-04 at 9 48 41 am](https://cloud.githubusercontent.com/assets/19188815/15016133/af2bbdfe-11dd-11e6-8214-8ac96b418aeb.png)

In the error message, you should indicate the range of values that are valid.

[2016-05-04 13:52] chriseengler opened #517 "Location Field Missing Field Length Verification"
https://crisischeckin-d.azurewebsites.net/

Report New Data: The **Location field** on the **bottom right corner** of the **crisis check in** is either **missing a max field length verification** or it has stopped working.

Note: this field length verification exists and is working on the Make A New Commitment section.

Good luck fixing it!
- Chris :-)

[2016-05-04 14:45] aarjay opened #518 "Suggestion"
I am a volunteer and wish to report a or another disaster and seek help, can I have a weblink to report the disaster and details about the same.
So that the team can contact me for further details.

[2016-05-04 14:59] mjmilan commented on #518
I'm not sure as a volunteer that I would consider it your role to add
disasters to the database.  That is more of a role, and indeed is
supported, for the crisischeckin administrator...

Martin.
On 4 May 2016 15:45, "Jyothi Rangaiah" <notifications@github.com> wrote:

[2016-05-04 15:04] aarjay commented on #517
milestone - feature backlog

[2016-05-04 15:05] aarjay commented on #516
Milestone - features backlog

[2016-05-04 15:06] aarjay commented on #515
Milestone - Features backlog

[2016-05-04 15:06] aarjay commented on #514
Milestone - Features backlog

[2016-05-04 15:07] aarjay commented on #513
Milestone = Features backlog

[2016-05-04 15:07] aarjay commented on #512
Milesone = Features backlog

[2016-05-04 15:11] aarjay commented on #518
I need to report and seek help for a disaster that happened around me, is there an interface to let the admin know about this disaster?

[2016-05-04 15:20] adinnaplus commented on #514
Hi. This is a duplicate of #512

[2016-05-04 15:23] adinnaplus commented on #512
A quick fix could be to add an asterix to the Organization dropdown field (to show that selecting an organization is required)?

[2016-05-04 16:21] aarjay opened #519 "Questions"
How many times can a volunteer checkin and checkout from a commitment?
Why is that a volunteer can delay his attendance at the disaster (on site / remote) only once, while can check-in more than one time?

[2016-05-04 16:31] aarjay opened #520 "P3 - Error in placement and positioning of the error messages"
Login to the crisis checkin web app on a browser (Chrome on Chrome book)
Make a new commitment with existing date range (already committed for those dates)
And check the position and the placement of the displayed error message
![screenshot 2016-05-04 at 12 26 01 pm - display 1](https://cloud.githubusercontent.com/assets/5223163/15021289/fa1ff8fa-11f3-11e6-9359-732b12c587eb.png)
 https://crisische

[2016-05-04 16:38] aarjay commented on #512
Login to criss checkin web application as a volunteer
Go to Change contact info
Remove the data in Phone number field (No value)
Click on submit.
From the previous bugs logged under #512issue it is evident that with an empty input field when the user clicks on submit, then the user is landed on the server error page rather than a user informational error message.
Server Error in '/' Application.

[2016-05-04 17:48] jasminsmith commented on #512
This also happens when organization is the only field not filled in.  Making the field required would not necessarily fix the issue, unless "No Organization" is not supposed to be a valid selection.

I also tested this with selecting a different dropdown option and then moving it back to "no organization" - it is definitely not treating that as a valid selection at all.

[2016-05-04 18:02] mmurrell27 opened #521 "Edit feature request (Virtual) - P2"
This may be out of scope, but it seems like there should be a Edit feature under My Commitments and My Organization Data on the Volunteer Home page.  The only option I see is "Remove".  I am testing in a Virtual environment with Microsoft Edge web browser.
![edit](https://cloud.githubusercontent.com/assets/19192825/15023943/4ddfe898-11f8-11e6-84d0-ae2543a8796d.jpg)

[2016-05-04 18:39] mmurrell27 opened #522 "Negative Quantity (Virtual)"
It does not seem like negative quantities should be valid under My Organization Data on the Volunteer Home website.  The form allowed me to enter that number.
![negative](https://cloud.githubusercontent.com/assets/19192825/15025157/88dec84c-11fd-11e6-97c8-611acfbf8105.jpg)

[2016-05-04 20:13] mmurrell27 opened #523 "Max characters in Description"
There does not seem to be a Max number of characters in Description under My Organization Data on the Volunteer Home page.  This is related to #350 and #399, but I insist this is different.  It may be a result of the resolution to #350, but both of these tickets are closed.  #350 describes a exception when there are 50 or more characters.  There should be some limit, perhaps 50 characters, but the

[2016-05-04 20:25] req44429 opened #524 "creating account received stack track error"
While completing the registration, I did not select 'organization' since not required.  When clicking 'create a new account' received below error-

Server Error in '/' Application.

Value cannot be null.
Parameter name: items

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it

[2016-05-04 20:32] swalchemist opened #525 "Server exception for bad password on the "Create new account" page (Virtual) P1"
1. Click the Register button on the home page.
2. Fill in all fields with valid data, except for the "Confirm password" field, enter a value that does not match what you entered for the password. There is no error shown after tabbing out of the field.
3. Click "Create new account". This causes a server exception (shown below).

I get the same exception if I enter a password in both password fields

[2016-05-04 20:37] aarjay opened #526 "When start date is after end date, fields reset to current date after hitting volunteer"
@angusvb

[2016-05-04 20:39] aarjay opened #527 "[usability] after hitting volunteer, page scrolls to top, even if there is an error"
https://crisischeckin-d.azurewebsites.net/Home/Assign
@angusvb

[2016-05-04 20:40] req44429 opened #528 "On the create a new acct receive a stack trace error when selecting Organization"
created a new acct and selected 'Humanitarian Toolbox' for Organization and when clicking on 'create new account' received stack trace stating organization can not be null.  Was not null was completed with one of the dropdown selections.

[2016-05-04 20:46] req44429 opened #529 "creating new account with existing User name"
Creating a second new account and used same UserID as existing user (previously created) would expect to get error prior to leaving that field

[2016-05-04 20:49] aarjay opened #530 "Ability to view checkins, phone numbers of other volunteers."
https://crisischeckin-d.azurewebsites.net/Volunteer/ListbyDisaster

![screenshot 2016-05-04 at 4 47 35 pm](https://cloud.githubusercontent.com/assets/5223163/15028669/f9871ae4-1217-11e6-803e-0fd37a79fffc.png)

@jbtestpilot - Jon Bach

[2016-05-04 20:52] aarjay opened #531 "On clicking Add as contact button, the user is not lead to the same interface"
User is landed on this page - https://crisischeckin-d.azurewebsites.net/Volunteer/AddContact
![screenshot 2016-05-04 at 4 51 51 pm](https://cloud.githubusercontent.com/assets/5223163/15028791/8601df40-1218-11e6-9325-ac1bd16c0963.png)

- Launi Mead

[2016-05-04 20:53] swalchemist opened #532 "Confusion filling in the two Location fields for "Make a New Commitment" (Virtual) P2"
1. Log in and go to the Volunteer Home page.
2. Under Make a New Commitment, fill in valid answers all across the row. Don't fill in the second box underneath "Location", which says "-- Choose One --".
3. Click "Volunteer". This causes an error - "The Location field is required", with the border around the second Location box shown in red.

Filling in the location is confusing - this is a usabilit

[2016-05-04 20:58] aarjay opened #533 "Click signup button causes runtime error in mailing list"
Bug entered by Valerie Campbell - valerie.campbell@atlasair.com

Able to enter first name, last name, email address, interests and select email format without issue. Click the sign up button generates a runtime error (attached).

To recreate: From home screen, click on site menu bar Sign Up button.

Tested in Chrome OS Version 49.0.2623.112 (64-bit) on Windows
![screenshot 2016-05-04 at 4 54 02 pm

[2016-05-04 21:05] aarjay opened #534 "Description field bypasses the validation set on the max limit on the description field"
Logged by - Laun Mead

Link https://crisischeckin-d.azurewebsites.net/Volunteer/CreateMessageToVolunteersByDisaster/14

Reproducible
1) Introduce a lot of data and click on submit by overlooking the warning / error message
2) Click on send.

Error message:
Server Error in '/' Application.
A potentially dangerous Request.Form value was detected from the client (Description="...onInvoker.<BeginInvok

[2016-05-04 21:11] aarjay opened #535 "Password field is not cleared on log out"
Logged by - Launi Mead

Login as Adminstrator / Volunteer
Logout
The password field is not cleared upon logging out, irrespective of remember me being checked or not.

[2016-05-04 21:39] aarjay opened #536 "Additional validations needed on the donation page"
Bug entered by Valerie Campbell - valerie.campbell@atlasair.com
Tested in Chrome OS Version 49.0.2623.112 (64-bit) on Windows

Issue:
1. Page accepts single letter for first name and last name, even after 'Review Donation and Continue' is clicked.
2. Donation amount, credit card, expiration date, phone number and CSC fields validate only after 'Review Donation and Continue' is clicked. These field

[2016-05-04 22:21] nesrinezouari opened #538 "virtual Add commitment form : end and start date unknown Form"
#virtual
1- add start date or End Date in Add commitment form

Expected result : date form DD/MM/YYYY
Obtained result : Date form MM/DD/YYYY
![date form](https://cloud.githubusercontent.com/assets/5974675/15031202/e1be0efe-124e-11e6-89b0-4c947b9be2f5.JPG)

[2016-05-04 22:30] nesrinezouari opened #539 "virtual Modify commitement dates : past dates are eligible for selection"
1- connecte with user
2- add volenteer with end day and start day equal sysdate
3- edit date of commitement

Expected result : we can't choose dates before today
obtained result ; days before today are eligible
![Uploading delayed form.JPG…]()

[2016-05-04 22:33] mjmilan commented on #512
I will be offering a pull request shortly which fixes this...

[2016-05-04 22:36] tonysurma commented on #512
Thank you!

[2016-05-04 22:38] nesrinezouari opened #540 "virtual My commitments list : error in location remote"
1- logging with existing user
2- add some volenteer with remote location

Expected result : we should have remote in location column for this king of volenteer
![commitments](https://cloud.githubusercontent.com/assets/5974675/15031526/371b5f44-1251-11e6-96ff-5e1191914512.JPG)
Obtained result : instead of Remote we have Remote (t)

[2016-05-04 22:39] tonysurma commented on #467
all is resolved except for link from volunteer page - will make a follow up issue for that

[2016-05-04 22:49] mjmilan commented on #529
Implementing the above pull request resolves this issue.

[2016-05-04 22:49] mjmilan commented on #525
Implementing the above pull request resolves this issue.

[2016-05-04 22:50] mjmilan commented on #524
Implementing the above pull request resolves this issue.

[2016-05-04 22:50] mjmilan commented on #512
Implementing the above pull request resolves this issue.

[2016-05-04 22:50] mjmilan commented on #514
Implementing the above pull request resolves this issue.

[2016-05-04 23:07] nesrinezouari opened #542 "virtual User without organization home : section My Organization Resources is shown"
#virtual
with user who haven't organisation selected in contact information we sould not have My Organization Resources section in home page

Obtained result : section My Organization Resources is shown for all user ( with and without organiz
![my organization shown](https://cloud.githubusercontent.com/assets/5974675/15032011/3b666e78-1255-11e6-94c0-906607cfe011.JPG)
![no organization in profil](h

[2016-05-04 23:11] swalchemist opened #543 "New resource data is accepted without required fields"
1. Log in as a volunteer and go to the Volunteer Home page.
2. Under My Organization Resources / Report New Data, select a Disaster and a Type.
3. Click "Checkin".

The data is accepted without error, even though the required fields Description and Location are still blank, and the default 0 quantity was not changed. If these fields are not required, they shouldn't be marked as such. And is 0 a va

[2016-05-04 23:27] swalchemist opened #544 ""Report New Data" needs confirmation when new resource is accepted"
1. Log in as a volunteer and go to the Volunteer Home page.
2. Under My Organization Resources / Report New Data, enter valid data for each field, then click "Checkin".

The page refreshes and the data I entered is erased. There is no indication where the data was accepted or not. This is a usability issue - it would be better to have confirmation that the data was saved.

Workaround: when I look

[2016-05-04 23:41] swalchemist opened #545 "Server error on long Location name in new resource (Virtual) P2"
1. Log in as a volunteer and go to the Volunteer Home page.
2. Under My Organization Resources / Report New Data, enter a value 41 characters or longer for Location (e.g., "The cupboard under the stairs, back right" or "2*4*6*8*11*14*17*20*23*26*29*32*35*38*41*").
3. Enter valid data for each remaining field, then click "Checkin".

This causes a server exception (below). There should be better val

[2016-05-05 05:38] nss-popuri opened #546 "virtial: User is getting prompted to enter value for a non existing field in "Volunteer" section"
Steps to follow:
a) Login to the Crisis Checkin site
b) Select a value from the "Disaster" dropdown in "My Organization Resource" section
c) DO NOT enter/select any other values
d) Click on "Checkin" button in "My Organization Resource" section
e) Observe the message displayed in "Make a new Commitment" section. Attached word file is having the required screen shots
[Error_ScreenShot.docx](https:/

[2016-05-05 06:04] nss-popuri opened #547 "Virtual: Tab order is not correct in Log In Screen"
Steps to Follow:
a) Open Login page of Crisis Check-in application
b) Enter value in the Username or email text box
c) Press Tab
d) Ensure the focus is now moved to "Password" text box
e) Enter value in password text box and again press Tab and observe the section focus moves on to. Please refer the attached screen shots for more details
[Error_ScreenShot.docx](https://github.com/HTBox/crisischeck

[2016-05-05 06:10] nss-popuri opened #548 "Virtual: "Check-In" name is not used uniformly across the application"
a) In Login screen Crisis Check-In is used. If you observed the name displayed for the browser tab it is saying "Crisis Checkin" ["-" is missing and "I" used instead of "I"]
b) The other link is saying "View Checkins" ["-" is missing and "I" used instead of "I"]
c) In the screen displayed after login the button is having name as "Checkin" in "My Organization Resources" section
Expected result: The

[2016-05-05 06:19] nss-popuri opened #549 "Virtual: User is allowed to enter the current password as new password in the change passord section"
Steps to follow:
a) Click on the link Change Password
b) Enter the current password in Old Password text box
c) Enter the current password in New Password text box
d) Enter the current password in Confirm New Password text box
e) Click on "Submit"
f) Observe the message displayed on the screen

Actual Result: Password Changed
Your password has been changed successfully! is displayed

Expected Resu

[2016-05-05 06:24] nss-popuri opened #550 "Virtual: View Checkins displaying empty tables when "Go" button is clicked without selecting any value in dropdown Disaster"
Steps to follow:
a) Login to the Crisis Check-In application
b) Click on the link View checkins
c) Click on "Go" with out selecting any values in Disaster dropdown
d) Observe that blank table are displayed

Expected Result: The user should be either prompted to select value in Disaster dropdown/ OR information related to all disasters should be displayed instead of blank tables

Priority: 1

[2016-05-05 11:10] aarjay opened #551 "Placement of the buttons on the bottom of any page needs pagination implemented."
Login to crisis check in app either as an admin or as a volunteer
Edit a disaster
https://crisischeckin-d.azurewebsites.net/Disaster/Edit/15
As the list of the cluster's increase, the user has to scroll down until he/she finds "Add new cluster"
Pagination in such cases needs to be implemented.

User notifications / messages needs to be implemented when there is any update made to the disaster. Exa

[2016-05-05 11:13] aarjay opened #552 "Usability - Toggle button and pagination on disaster list page needs to be implemented."
Login to Crisis check in web app
Click on crisis check in
List of active and inactive disasters are listed on the same page.
https://crisischeckin-d.azurewebsites.net/Disaster/List
A toggle button and pagination on this page needs to be implemented, as the number of active and inactive disasters increases it becomes difficult to navigate without the pagination and / or a toggle button for active a

[2016-05-05 11:14] aarjay commented on #550
Milestone - Features backlog

[2016-05-05 11:14] aarjay commented on #549
Milestone - Features backlog

[2016-05-05 11:16] aarjay commented on #548
Milestone - Features backlog
P3

[2016-05-05 11:16] aarjay commented on #547
Milestone - Features backlog

[2016-05-05 11:28] aarjay opened #553 "User messages are not available when a volunteer checks-in and checks-out."
Login to crisis check in web app as a volunteer.
Check-in to a disaster / Click on delayed / Check-out (post checking in)
There are no user messages available for either of these actions.

https://crisischeckin-d.azurewebsites.net/Home

[2016-05-05 11:31] aarjay opened #554 "Report new data is not being added / fetched."
Login to the crisis check in web app
This behavior is noticed first time on 5th May, earlier this was found to be working (report new data could be added and fetched).

P2

[2016-05-05 11:53] aarjay opened #555 "Pagination is required"
Login to crisis check-in app as an admin
Click on cluster list and cluster group list
https://crisischeckin-d.azurewebsites.net/Cluster/List
https://crisischeckin-d.azurewebsites.net/ClusterGroup/List

Missing pagination on these pages.

P3
Milestone - Features backlog

[2016-05-05 13:25] NaveenP94 commented on #519
Volunteers can check in and out from commitments as many times as they want, well technically once you check out of a commitment it is closed and you could re check into a new instance of a commitment with all the same properties, this essentially acts like checking in and out from a commitment multiple times. Could you clarify what you mean by "delay his attendance at the disaster only once".

[2016-05-05 13:26] aarjay commented on #521
Linked to #518 - 4

[2016-05-05 13:35] NaveenP94 commented on #519
A volunteer can checkin and checkout multiple times from a commitment.
As to your second question:
For example supposed that today is  5/5 and I committed to a disaster 5/5 to 5/6 and I delayed it till 5/7 to 5/8, 2 days go by, now it is 5/7 the volunteer should have the option to delay further till 5/9 to 5/10, this would be the ability to delay multiple times. Is this functionality that you are

[2016-05-05 13:41] NaveenP94 commented on #518
What you are referring to as a volunteer reporting a disaster we would actually consider a hazard in the field of the current disaster. The right to add disaster is held by admins. However a volunteer could report a hazard related to a disaster and maybe in the description could write "request to open a new disaster" and the Type "Hazard"  if the hazard is so large that it could be categorized as

[2016-05-05 13:45] NaveenP94 commented on #530
What is the issue here?

[2016-05-05 13:50] NaveenP94 commented on #536
What donation page is this?

[2016-05-05 13:53] NaveenP94 commented on #538
Unclear what is the issue here? The date format that we are using is MM/DD/YYYY

[2016-05-05 13:54] tonysurma commented on #538
Thanks for the testing issue. As Naveen stated we are currently only support MM/DD/YYYY

[2016-05-05 13:54] #538 closed

[2016-05-05 13:55] tonysurma commented on #536
Thanks for the issue, this looks like bugs on the paypal site so out of scope for us

[2016-05-05 13:55] #536 closed

[2016-05-05 13:57] NaveenP94 commented on #539
Once you click volunteer in the Make a New Commitment form you cannot edit any properties of that commitment only remove it. When using the form to select the date range the user currently cannot select a date before the current date. What is exactly was the issue you were seeing?

[2016-05-05 14:01] NaveenP94 commented on #546
You are correct the error messages for the Make new commitment also appear under report new data and vice versa, those two form entities need to be decoupled.

[2016-05-05 14:06] NaveenP94 commented on #554
Once you report new data you can verify that it had actually been added to the db by going to view checkins and selecting the disaster you reported data on (leave the date blank), click go and then you should be able to see your entry at the bottom.

[2016-05-05 14:28] tdbridge opened #556 "CONSISTENCY: feedback regarding password criteria"
1. Create a new account.
2. Fill out fields with positive results.
3. At "Password" field, enter a password that meets the criteria.
4. Tab to next field.
5. The system displays "Password meets the requirements"
6. Place focus in the "Password" field and remove enough characters to make the password NOT meet the criteria..
7. Tab to the next field.

NOTE:  The system does NOT inform the user that

[2016-05-05 14:42] aarjay opened #557 "Login page: "Remember me" remembers me even if check-box is not checked"
Name: George Nawfal
Issue: The "Remember me" feature remembers me even when checkbox is not selected.
To reproduce,
1- access the login page,
2- insert username and password,
3- don't select the "Remember me" checkbox and login
4- logout, terminate browser session
5- start a new browser session and access the page: notice your credentials are displayed (remembered).
NOTE: the "Remember me" is supp

[2016-05-05 14:52] tdbridge opened #558 "SECURITY: Password is available upon change"
Doug Preyna P1

1. Sign in as Administrator.
2. Click the "Change Password" button. The system displays the change password page.
3. Place the focus in the "Old Password" field.  The system displays a dialog box which states "Use password for:" filed and allows the use of existing roles to populate the password.

While the system does NOT display the password in and of itself, this still poses a s

[2016-05-05 15:00] aarjay commented on #515
In step 2, enter the text "hari@" without quotes to replicate the error.

[2016-05-05 15:03] aarjay commented on #515
the bug report title should be "Error while requesting new password" on Forgot password page

[2016-05-05 15:03] mjmilan commented on #515
I did recreate the error... I've submitted a pull request tofix it.

On 5 May 2016 at 16:00, Jyothi Rangaiah <notifications@github.com> wrote:

[2016-05-05 15:04] mjmilan commented on #515
I'll confirm again later...

On 5 May 2016 at 16:03, Martin Milan <martin@mjmilan.com> wrote:

[2016-05-05 15:08] aarjay opened #559 "Forgot password page - submitting an invalid email with quotes doesn't show error message to user"
Bug reporter: Ramesh Natesan

steps to reproduce the bug:
step 1: Go to Forgot password page
step 2: - Submit an invalid email with quotes and click Request new password" button
step 3: Browser goes to server error page instead of displaying an error message to user.

[2016-05-05 15:15] djcpreyna opened #560 "Server Error in '/' Application. when deleting a cluster"
Doug Preyna  P1

1. Login as Administrator.  The system displays the List of Disasters page.
2. Click "Cluster List". The system displays the "List of Clusters" page.  Please note that additionally, there should be consistency between the link in step 1 and the page name in step 2.
3. Click the "Delete" link for one of the clusters. The system displays the server error page.
4. I cleared the cache

[2016-05-05 15:17] aarjay commented on #531
The Add As a Contact generates a "Object reference not set to an instance" when clicked using Administrator account.
![screenshot 2016-05-05 at 11 16 36 am](https://cloud.githubusercontent.com/assets/5223163/15047426/e6821778-12b2-11e6-82de-5a4846a4ae82.png)

[2016-05-05 15:17] #531 closed

[2016-05-05 15:18] mjmilan commented on #556
I was on this page last night (on my local machine), and the warning
message was displaying fine - although Chrome occasionally displayed it's
AutoComplete over the top of it...

Martin

On 5 May 2016 at 15:28, tdbridge <notifications@github.com> wrote:

[2016-05-05 15:25] MarleneMenser opened #561 ""Change Password" link takes me to a "Log In" screen"
**Steps**
1. Log in as a Volunteer
2. From the Volunteer Home, click on "Change Password" (located upper right hand corner)
3. Issue - the "Log In" page appears instead of "Change Password" page

![screenshot 2016-05-05 at 11 25 06 am](https://cloud.githubusercontent.com/assets/19208932/15047708/173213e0-12b4-11e6-8f3e-701fbb253f0b.png)

**Expected Results**: A "Change Password" page appears.
**Ac

[2016-05-05 15:28] aarjay commented on #516
no visual indication adding the organization resources row. The negative whole number is swiched to 0 without any feedback. Message is either completely missing or the message is missing the valid parameters for the acceptable value.
successful insertion: no message is displayed.

[2016-05-05 15:37] aarjay commented on #387
Nastaran Avalos and Anita Gilbert
We were able to enter html tags to string field "ex:Location" and cause Server error.

[2016-05-05 15:39] MarleneMenser commented on #559
Steps to Reproduce the Bug:

1. From the login screen, click on "Forgot Password".
2. Enter in an invalid email address without quotes (i.e. hari@)
3. Browser displays a Server error message

![screenshot 2016-05-05 at 11 36 06 am](https://cloud.githubusercontent.com/assets/19208932/15048111/077c48ec-12b6-11e6-8746-13666384e19c.png)

[2016-05-05 15:49] MarleneMenser opened #562 ""Forgot Password" > Invalid email format generates a"
**Steps**
1. Click on Forgot Password
2. Enter an invalid email format (i.e. "abc@") with quotation marks
https://crisischeckin-d.azurewebsites.net/Account/ForgotPassword
3. Click on Request New Password
4. The "Password reset request sent" page appears instead of an error message.
https://crisischeckin-d.azurewebsites.net/Account/PasswordResetRequested

![screenshot 2016-05-05 at 11 46 56 am](htt

[2016-05-05 16:28] tdbridge commented on #517
Replication -
I entered: "smartville, and it's such a beautiful place to be.  I know that I'm bias and I'm obviously struggling here at the moment, but I honestly believe everyone should live here because it is truly, absolutely beautiful.  Therefore, it's obvious that one and all should relocate to the immeasurable wonderous place."
I put this into the Location textbox on the Volunteer Home page

[2016-05-05 16:50] aarjay commented on #555
Duplicate of #551

[2016-05-05 17:16] #555 closed

[2016-05-05 17:17] #514 closed

[2016-05-05 17:40] aarjay opened #563 "Usability - Integration with other systems is not there on the application."
Logged by Doug
Integration with new channels, red cross, federal funded programs
Missing help and training material.

[2016-05-05 18:15] djcpreyna opened #564 "ERROR Checking: Dual logon issue"
When a user logs on, there needs to be a message stating, "This user is already logged on".  The reason this is important is because without any additional checking, the system does not know which logged on user will update which others.

[2016-05-05 18:16] adamexmachina opened #565 "Why "Check-out?""
What does the "check-out" button mean?

[2016-05-05 18:17] adamexmachina opened #566 "What is "Unavailable?""
What does the "unavailable" button do?

[2016-05-05 18:17] adamexmachina opened #567 "What is a "Commitment?""
What does "Commitment" mean?

[2016-05-05 18:18] adamexmachina opened #568 "Did not receive confirmation when adding a commitment"
Added an item under My Commitments and was returned to the Volunteer Home without any confirmation.

[2016-05-05 18:20] KarenSharp opened #569 "Design suggestion"
All actions on the website should be forced binary choices, with big arrows to take you to the next action.

Such as click on an arrow that says "I want to volunteer" which takes you to one binary choice for 2 options: "Remote" or "On-SIte" (for example) (with no other actions on the screen)
When you click "remote" it brings you to another binary choice: "I can contribute money" or "I can contribu

[2016-05-05 18:20] adamexmachina opened #570 "What is "My Organization Resources?""
Not sure what this section is for?

[2016-05-05 18:20] adamexmachina opened #571 "How do I edit a disaster issue?"

[2016-05-05 18:21] adamexmachina opened #572 "Did my organization resource I created save?"
There isn't any confirmation that the organization resource I created was saveds

[2016-05-05 18:21] adamexmachina opened #573 "Overall: The verbiage throughout the application isn't self explanatory"

[2016-05-05 18:23] adamexmachina opened #574 "Didn't see "Volunteer Home" header at the top of the page"
Didn't see "Volunteer Home" header at the top of the page at first as I moved to the first action item so wasn't sure if I was on Volunteer or Admin

[2016-05-05 18:23] KarenSharp opened #575 "Language on the pages should be clearer"
It's not clear who "my" is, in "my commitments" or "my organization resources". Who is the website assuming that "I" am? Am "I" an admin? A volunteer? If I'm an individual person wanting to contribute, what does "my organization resources" mean? These two sections of the page should be on different pages, to disambiguate what action I am supposed to take. Every page should have only one obviously-

[2016-05-05 18:27] KarenSharp opened #576 "The very first action on the page should not be "check out""
The eye scans down the page looking for the first action to take, the first button to click, as the user tries to figure out how to use the page. And the very first action is "check out". With compassion fatigue and complexity in people's lives, you want to make it very easy for people to take the path of acting to help, rather than taking the action of saying "this is too complex or confusing, my

[2016-05-05 18:28] djcpreyna commented on #573
For example: the "My Organization Resources" header is completely unclear.  I, as a volunteer in a crisis, would have no idea what I am supposed to do.

[2016-05-05 18:29] djcpreyna commented on #573
cf: 575

[2016-05-05 18:31] djcpreyna opened #577 "SCOPE: consider expanding scope"
P2

This application might be used for 2 reasons:
1. during the disaster
2. Aftermath (including lessons learned, followup, etc)

[2016-05-05 18:33] djcpreyna commented on #573
Please include:
1. Quick Readibility
2. Visibility
3. User Messages
4. Content

[2016-05-05 18:36] KarenSharp opened #578 "Color choices"
The color red is a poor choice for 2 reasons: It creates a sense of alarm that then pervades the whole site, rather than a sense of calm, a sense that the processes and the opportunities to help are well organized. The second reason is that it makes it difficult to separate the distinctions between the disasters that truly are high urgency and the disasters that are not.

The rest of the page shou

[2016-05-05 18:38] KarenSharp opened #579 "Accessibility configuration"
The site should allow hook-ins for a variety of accessibility configuration, such as screen readers or other visual impairment accommodations.

[2016-05-05 18:38] aarjay opened #580 "Suggestion: Enable internationalization support for application"
Translations, date formats, etc.

[2016-05-05 18:42] djcpreyna opened #581 "HELPFUL: Metrics"
It would be very helpful to provide metrics to the administrators such as mean response time, etc.

[2016-05-05 18:43] jreisler opened #582 "Commitment for Today section at top; no date displayed"
Suggest to display the current date for the Commitment For Today section at top of page to improve usability.

[2016-05-05 18:43] tabithavj opened #583 "Volunteer Home Page"
The "checkins" should be spelled "check-ins" to maintain continuity

[2016-05-05 18:43] djcpreyna opened #584 "DOCUMENTATION Missing"
There is no Help file.  I would like to offer that a help file would be incredibly helpful.

[2016-05-05 18:45] aarjay opened #585 "Suggestion : Provide option to sort the disasters and other columns"
Name - Brian.rampersaud@gmail.com, soumyashreehv@gmail.com

Currently, the table doesnt have the option to sort the disasters based on the different columns available. This will be a challenge for a volunteer if he/she would like to quickly do a visual search.

[2016-05-05 18:45] djcpreyna commented on #584
Perhaps include a link related to an action.  Such as a tooltip.

[2016-05-05 18:47] djcpreyna opened #586 "USABILITY: organizations"
It would be helpful to assign groups of people to a coordinator in the admin module.

[2016-05-05 18:48] djcpreyna commented on #581
A perfect example would be a dashboard that can be used for info at a glance.

[2016-05-05 18:49] jreisler opened #587 "New commitment error; window refreshes and auto-scrolls to top of page; should not."
If error state exists (such as omitting required data to create new commitment), page refreshes and goes back to top of page.  User has to scroll down to view error.  Suggest to either display an explicit error message or take the user to the section of the page that contains the error.

[2016-05-05 18:49] julielebo opened #588 "Should individuals be able to commit organizational resources without having an organization associated to them?"
An individual user can create a commitment for organizational resources even though they are not associated with a particular organization. This is likely not a desired ability.

[2016-05-05 18:49] djcpreyna opened #589 "MISSING REQ: integration"
I would like to offer that some additional integration would be very helpful. For example: red cross, federal and state agencies, food banks, etc.

[2016-05-05 18:50] djcpreyna commented on #589
Additionally, news agencies would be a great value add.

[2016-05-05 18:51] tabithavj commented on #583
The "checkin/check-out" buttons should be a bit clearer

[2016-05-05 18:52] aarjay opened #590 "Suggestion: Ambiguous workflow"
Name - Brian.rampersaud@gmail.com, soumyashreehv@gmail.com

Creating a volunteer or checkin is confusing since there are 2 submit buttons -- one for each.  Is the user supposed to pick both, just one, etc?  Support text should be provided, or layout changed, or a single button to make clear the workflow.

[2016-05-05 18:52] djcpreyna opened #591 "MISSING REQ: new volunteer pack"
When you create a new user, I would like to offer that a checklist of skills might be beneficial to coordinators in selecting the right people for the right jobs.

[2016-05-05 18:52] tabithavj commented on #583
Should the "view checkins" display checkins, or commitments?

[2016-05-05 18:52] julielebo opened #592 "Suggestion: Indicate when List Check-in page is loading after hitting "Go""
When you are on the List Check-ins page and you enter filtering criteria and hit "Go" there is no indication that the page is loading (in browser or on the page itself). Other page update buttons indicate load so this could be confusing.

[2016-05-05 18:54] aarjay opened #593 "Suggestion: No confirmation for deletion of existing committments"
Name - Brian.rampersaud@gmail.com, soumyashreehv@gmail.com

When user clicks on the X (remove button), expect a confirmation to delete since information is critical and no undo.

[2016-05-05 18:54] jreisler opened #594 "Clicking "Unavailable" button under Commitment for Today takes very long time to refresh"
Could be connectivity problems but other browsing activity seems to work.

[2016-05-05 18:56] tabithavj commented on #583
The "Make New Commitment", "Report New Data" doesn't seem to allow new fields to be entered, only pre-existed

[2016-05-05 18:57] djcpreyna opened #595 "CLARITY: check in"
There is no clarity around the check in and check out buttons. I can see three scenarios: I assume they  are used to keep track of whether or not the volunteer is still "on the job". However, as a  volunteer, I have absolutely no idea what it is that I am supposed to do.

[2016-05-05 18:57] aarjay opened #596 "Navigating between the main app and change password pages requires a re-login"
Name - Brian.rampersaud@gmail.com, soumyashreehv@gmail.com

Expect the state of the user's login to be preserved.  An option to return back home should be available.

[2016-05-05 18:58] djcpreyna opened #597 "CLARITY: check in"
Once I have checked in, it is wonderful that I am thanked; however, I'd like to offer that a follow on could be to state what will happen next.

For example: "Thank you for volunteering.  A coordinator will be with you shortly."

[2016-05-05 18:59] tabithavj commented on #583
REmoved disaster, "Not Another Disater," but it remained in the dropdown for "Make a New Commitment" and "Report New Data"

[2016-05-05 18:59] #583 closed

[2016-05-05 19:00] aarjay opened #598 "The Check In, Check Out, and Unavailable states should be mutually exclusive"
Name - Brian.rampersaud@gmail.com, soumyashreehv@gmail.com

When checked in for example, the Unabvilable state does not make sense.

[2016-05-05 19:00] julielebo opened #599 "Invalid user email brings up unfriendly error screen"
If a user edits their email and does not enter a valid email, such as lebo.julie.gmail (no @) and saves the contact info, then an error screen appears that says "Value cannot be null". It should do some validation on the entry and warn the user before saving.

![screenshot 2016-05-05 at 2 59 12 pm](https://cloud.githubusercontent.com/assets/8533315/15053740/f97d09a4-12d1-11e6-872b-d8b3413b7632.png

[2016-05-05 19:07] djcpreyna opened #600 "BOTTLENECK: Disaster field (volunteer login)"
As a volunteer I would be a roadblock if the disaster listed didn't actually fit my perception of the actual disaster.  This would result in uncertainty.  This app is designed to eliminate ambiguity.  In that instance, I would like to offer that an "other" is needed in the field.  This selection would send a flag to the admin and also allow the volunteer to progress.

[2016-05-05 19:08] djcpreyna opened #601 "MISSED REQ: Identification"
In a crisis, nobody would have the time to ask who so and so is. What is needed is a means to print out a badge with a QR code or some other such means of identification quickly with a scanner.

[2016-05-05 19:10] djcpreyna opened #602 "ENHANCEMENT: available timeframe"
When a volunteer checks in, it would be helpful to have a field which denotes the volunteer's availability.

[2016-05-05 19:14] djcpreyna opened #603 "USABILITY: too much ambiguity"
I would like to offer that for a system which will be used in the event of a limited thermo-nuclear war, time is of the essence. I like to offer the following suggestions:
1. volunteers might not have any computer knowledge. keep it simple.  ATM level of sophistication
2. uncertain if there are any mobile versions for portability
3. Remove as much info from the screen as possible.

[2016-05-05 19:16] djcpreyna opened #604 "ACCESSIBILITY: handicapped"
It will be important to remember accessibility.  I'd like to offer the following:
1. be careful of color blindness
2. screen reader accessible
3. perhaps a msound to denote the focus

[2016-05-05 19:18] djcpreyna opened #605 "Fit and Finish"
Please remember that you cannot "fire" a volunteer but a voilunteer CAN refuse to help.  I'd like to offer the following suggestions:
1. What will the user think when using the app?
2. Does the app eliminate ambuiguity?

[2016-05-05 19:18] djcpreyna commented on #604
magnifier

[2016-05-05 19:20] djcpreyna commented on #605
Remove the red boarders and choose something else such as a neutral color. Red becomes problematic in cases where red, yellow, and green are used as alerts, etc.

[2016-05-05 19:21] djcpreyna commented on #586
It could take an extended period of time if it is handled later rather than with automation.

[2016-05-05 19:23] djcpreyna commented on #605
I would also like to argue that push notifications to a mobile app to call volunteers to a specific place would be a good idea.

[2016-05-05 20:55] miketull opened #606 ""View CheckIns" link doesn't work prior to logging in"
P1, virtual

Before logging in, when the mobile view button is clicked, the “View CheckIns” link appears, but doesn’t work.  It should either work or not display until after the user has logged in.

[2016-05-05 20:55] miketull opened #607 "Insufficient requirements"
P1, virtual

The requirements provided in GitHub were sparse and ambiguous.

[2016-05-05 20:57] miketull opened #608 "Phone numbers aren't validated"
P2, virtual

On “Create new account” page https://crisischeckin-d.azurewebsites.net/Account/Register, no validation of phone number format.  Was able to enter 41755512123 and 417!555!1212.

I realize that if the application is to be used internationally, then phone number validation becomes complex.  Perhaps it should at least validate for acceptable characters.

[2016-05-05 20:58] miketull opened #609 "Password requirements too loose"
P1, virtual

Password requirements too loose.  Accepted 123456 as the password.  No mix of alpha/numeric/special, no both lower and uppercase required.

[2016-05-05 20:59] miketull opened #610 "Didn't receive password reset email"
P1, virtual

After clicking “forgot password” link, didn’t receive password reset link email.

[2016-05-05 21:00] miketull opened #611 "No organizations in the Organization picklist"
P1, virtual

When creating an account https://crisischeckin-d.azurewebsites.net/Account/Register or changing contact info https://crisischeckin-d.azurewebsites.net/Account/ChangeContactInfo, there are no organizations listed in the Organization picklist.

[2016-05-05 21:01] miketull opened #612 "Fields become too small as the viewport is narrowed"
P1, virtual

As the viewport is narrowed below 1200px, the Volunteer Home page https://crisischeckin-d.azurewebsites.net/ begins responding.  The fields start shrinking and become unusably small, especially the Start Date and End Date fields.

[2016-05-05 21:02] miketull opened #613 "Should the Location field be structured data?"
P2, virtual

When making a new commitment, the Location field is free-form text field.  Not very useful for searching or reporting purposes.

[2016-05-05 21:04] miketull opened #614 "No relationship between Activity and Remote/On Site picklist"
P2, virtual

No relationship between Activity and Remote/On Site picklist.  User can select Activity of “Mass Care (Feeding, Sheltering)”, and Remote.  It’s difficult to provide mass care from a long distance.

[2016-05-05 21:05] miketull opened #615 "No guidance (on-screen help) for the user on how to fill out the fields"
P2, virtual

No guidance (on-screen help) for the user on how to fill out the fields.  E.g., does Remote / On Site mean where I am right now?  Or where I will be after I check in?  Is Location where the volunteer is now?  Or where their volunteer work will be?

[2016-05-05 21:06] miketull opened #616 "Start Date and End Date not marked as required fields"
P2, virtual

Start Date and End Date aren’t marked as required fields.  However, they are required.

[2016-05-05 21:08] miketull opened #617 "“— Choose One —“ picklist not marked as required, but is required"
P2, virtual

The “— Choose One —“ picklist below Location on the Volunteer Home page isn’t marked as a required field, but it is required.

[2016-05-05 21:09] miketull opened #618 "Should known locations be associated with a disaster?"
P2, virtual

When a Disaster is created by an admin, shouldn’t an associated list of Locations be created?  (At least known locations which have been affected by the disaster.)  The Location is freeform text entry and can be anything.

[2016-05-05 21:10] miketull opened #619 "Inconsistent terminology is confusing"
P2, virtual

The term “CheckIn” is confusing.  It seems like a “CheckIn” is something that should be done when I arrive at the location where my volunteer work is going to be done.  It would seem to me that a volunteer would first register (make a commitment).  “Please enter the information below to make a commitment to checkin to a disaster.”  But after volunteer makes a “commitment” to check in,

[2016-05-05 21:11] miketull opened #620 "Error messages for "Make a New Commitment" also displayed in "My Organization Resources" section"
P1, virtual

When a required field is left empty in the “Make a New Commitment” section and the user clicks Volunteer, the “field is required” messages are also displayed in the “My Organization Resources” section.

[2016-05-05 21:12] miketull opened #621 "No "Are you sure?" prompt when "X Remove" button is clicked"
P2, virtual

When the “X Remove” button is clicked to remove a commitment, the user isn’t prompted with an “Are you sure?” type message.  The commitment is immediately removed.

[2016-05-05 21:14] miketull opened #622 "Error messages for "My Organization Resources" also displayed in "Make a New Commitment" section"
P1, virtual

When a required field is left empty in the “My Organization Resources” section, the error message also appears in the “Make a New Commitment” section.

[2016-05-05 21:15] miketull opened #623 "Quantity field not validated for values in range"
P1, virtual

-1 was accepted as a valid Quantity value.  And 1 billion (1000000000) was accepted as a valid value.  There should be some range-checking on the field.

[2016-05-05 21:16] miketull opened #624 "Application accessing an invalid URL"
P2, virtual

I didn’t track down the request for it, but something is trying to access the invalid URL https://crisischeckin-d.azurewebsites.net/fonts/glyphicons-halflings-regular.woff and getting a 404 error.

[2016-05-05 21:17] miketull opened #625 "Inconsistent terminology between error message and field name"
P3, virtual

When the Type field is empty, the error message reads, “The Resource Type field is required.”  The terminology in the message should match the field name.

[2016-05-05 21:18] miketull opened #626 "A “CheckIn” can be done with an empty Description field"
P1, virtual

A “CheckIn” can be done with an empty Description field, even though it is marked as required.

[2016-05-05 21:19] miketull opened #627 "End Date is defaulted to <today> when checking in an organization's resources"
P2, virtual

When checking in an organization’s resources, the Start Date and End Date are defaulted to <today>.  It might be reasonable to default Start Date to <today>, but the End Date should have to be selected by the user.  Assuming a 1-day period seems unrealistic.

[2016-05-05 21:20] miketull opened #628 "Inconsistent use of terminology on the View CheckIns page"
P2, virtual

On the View Checkins page, volunteer “commitments” are called “Volunteer Checkins”, and organization resource checkins are called “Field Reported Data”.  That’s confusing.

[2016-05-05 21:21] miketull opened #629 "The Quantity field doesn’t allow commas as thousands separators"
P2, virtual

When checking in an organization’s resources, the Quantity field doesn’t allow commas as thousands separators.

[2016-05-05 21:22] miketull opened #630 "In the Field Reported Data, the Quantity value doesn’t include thousands separators"
P3, virtual

On the View CheckIns page, in the Field Reported Data, the Quantity value doesn’t include thousands separators.

[2016-05-05 21:24] miketull opened #631 ""Add as Contact" buttons don't work"
P1, virtual

On the List Checkins page https://crisischeckin-d.azurewebsites.net/Volunteer/ListbyDisaster, after a list of checkins has been displayed, when an “Add as Contact” button is clicked, the page is cleared and the Disaster and “Filter by Date” fields are redisplayed.  Seems to have nothing to do with adding a contact.

Note:  I realize it could simply not be ready, but I didn't find docu

[2016-05-05 21:25] miketull opened #632 "Mobile view menu items very small on iPhone 6 in portrait orientation"
P1, virtual

On the iPhone 6, in the portrait orientation, when the mobile view is selected, the menu choices are very small.

[2016-05-05 21:26] miketull opened #633 "Application is uncomfortable to use on mobile phone"
P1, virtual

It seems likely to me that the application will be used on a mobile device in the field.  Because I’m running out of the time I’ve been allowed to do this, I can’t provide a detailed description.  My summary comment is that on the iPhone 6, I was very uncomfortable trying to use the application due to issues with UI, field sizes, and responsiveness.

[2016-05-06 06:41] mjmilan commented on #611
@tonysurma Do you want to put together a simple list of default organisations and I'll organise getting them into the seed data?

Martin

[2016-05-06 14:23] NaveenP94 commented on #633
Thank you for your comment, We are aware of the difficulty using the application on a mobile browser that is why one of our P1 issues are to move to a multipage view so we can have more pages with less information on each page, this is our quick fix solution since we don't have the resources to build a true mobile app at this time. Once we move to a multipage view we want to add short cuts to be a

[2016-05-06 14:23] #633 closed

[2016-05-06 14:35] NaveenP94 commented on #632
Bumping up the font size will help with usability. Thank you for you comment

[2016-05-06 14:41] mjmilan commented on #583
Why have you closed this?

[2016-05-06 14:44] mjmilan commented on #567
My understanding is that a commitment is a statement that you are available
and will be in position on a given day / range of days...

On 5 May 2016 at 19:17, Adam Ex Machina <notifications@github.com> wrote:

[2016-05-09 13:19] NaveenP94 commented on #630
I have added this to the feature backlog. Thank you for your comment.

[2016-05-09 13:20] NaveenP94 commented on #629
see issue #630

[2016-05-09 13:20] #629 closed

[2016-05-09 13:24] NaveenP94 commented on #628
The volunteer commits to volunteering for a specific disaster during a specific date, they then can check into or defer when that time comes, that is the "check in". Right now we only have one form and one table but we are going to separate Org. Resources check ins from field reported data see issue #500.
Hope this clears up your questions, thank you.

[2016-05-09 13:28] NaveenP94 commented on #622
see issue #625

[2016-05-09 13:29] NaveenP94 commented on #620
see issue #625

[2016-05-09 13:32] NaveenP94 commented on #625
These two sections were once linked and had to be separated for an exercise. They will stay separated as we add more features. We want to focus dev on features and bugs that prevent usability, then we can work on cleaning up errors like this one. Thank you.

[2016-05-09 13:39] NaveenP94 commented on #615
This is a good comment, We are actually in the process of creating a user guideline to help standardize the UX, once I develop this we can turn it into on screen tool tips, where (mobile browser) can single tap on words to get a tip, on desktop this would be equivalent to hovering over a button or text. Thank you.

[2016-05-10 00:44] swalchemist commented on #623
Note: the maximum value it allows is 2147483647 (2^31 - 1), and the smallest is -2147483648. Looks like it's just catching an exception when it overflows a 32-bit signed integer. Outside that range, the error is "The value '-2147483649' is not valid for Quantity.".

[2016-05-10 16:07] mjmilan commented on #562
I agree with Marlene that this is one the face of it madness, but I would like @tonysurma or @BillWagner to confirm that they actually want this fixed. I reason I hesitate is that someone has gone out of their way on the AccountController Tests to implement a test method called "ForgotPassword_InvalidUserName_DoesntSendEmail_But_RedirectsTo_PasswordResetRequestedView()" - and if you read that code

[2016-05-10 16:12] mjmilan commented on #623
I think what @miketull is saying is that the actual ranges for validation make no sense, not that there is no validation being done...

[2016-05-10 16:20] swalchemist commented on #623
@mjmilan, I agree, a smaller range would make more sense.

[2016-05-10 16:25] mjmilan commented on #603
Perhaps we should arrange for EMP shielding for the machine as well while we're at it lol...

You make a good point for the scenario you describe, but I don't think anyone seriously considers this a tool to be used in a nuclear holocaust. You'd be better off spending your time hunter / gathering...

[2016-05-10 18:26] miketull commented on #623
@mjmilan is correct.  My intention was to communicate that the allowed range of values didn't make sense.

[2016-05-11 13:43] aarjay commented on #523
Hi. Can you please share your email address, as you are selected as a winner at the testlab and we would like to send you a Gift Voucher.

Thanks
Jyothi

[2016-05-11 13:46] mmurrell27 commented on #523
Hello,

    My e-mail address is mark.murrell@hotmail.com

Regards,

Mark Murrell

https://www.linkedin.com/in/markmurrell

[https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAMtAAAAJDA4ZjE5N2I3LTYwNjctNDEzYi1iY2FlLTE1MTJmZDI1YTM5Ng.jpg]<https://www.linkedin.com/in/markmurrell>

Mark Murrell | LinkedIn<https://www.linkedin.com/in/markmurrell>
www.linkedin.com
View Mark Murrell’s profes

[2016-05-12 14:19] NaveenP94 commented on #565
It is to indicate a completion of volunteer service

[2016-05-12 14:21] NaveenP94 commented on #566
basically it allows for when a user or admin is looking at available volunteers associated with a disaster if a volunteer is "unavailable" this will be indicated to decision makers.

[2016-05-12 14:22] NaveenP94 commented on #575
Agreed, in order to simplify the UX we want to separate the features into many pages. Please see issue #500

[2016-05-12 14:36] wilsonmar commented on #209
I took a look at this during Techwell's StarEast last week. Wonderful progress. I would be glad to help. What I can do is create a API Management dashboard and portal for the REST API, populate it with the Swagger spec for the API, so that HTBox API can take advantage of additional discoverability and code generation.

[2016-05-12 15:28] #524 closed

[2016-05-12 15:29] #529 closed

[2016-05-12 15:30] #530 closed

[2016-05-12 15:32] NaveenP94 commented on #542
Agreed, we want to clean up this page along see issue #500

[2016-05-13 09:36] fuguedude commented on #468
Hi, I would like to contribute. Was thinking this might be a good starter, or do you have another suggestion? I've already had a good look at the code.

[2016-05-13 21:10] BillWagner commented on #468
@fuguedude This would be a great one to start on.  Thank you for contributing.

If you have any questions as you proceed, open a Pull Request, and tag its title with "WIP" (for Work In Progress) and add a comment asking for feedback, or anything else you need.

[2016-05-16 14:41] aarjay commented on #530
Jon Bach when testing using his own login, observed that he could view contact information of "Other" checked-in users. And found it to be an issue with data compromise.

[2016-05-19 19:13] NaveenP94 opened #635 "Sorting/Filtering for Data table on View checkins page"
Volunteers have asked to be able to filter and sort the data table. At a minimum we want to be able to sort them chronologically by date and time added, and filter by type so we can see hazards only or a specific type. After that it will be useful to filter by organization that reported this data/ added this resources.

[2016-05-24 07:02] mjmilan commented on #626
I've had a look at this and, presuming that you are referring to checking in resources, I cannot reproduce the problem you describe. What happens for me is that the page refreshes, and the "new" resource that you are checking in is ignored.

Can you give a full description of exactly what you have done, and what you perceive the problem to be please?

Cheers.

[2016-05-24 18:50] miketull commented on #626
On this page, https://crisischeckin-d.azurewebsites.net/, under "My Organization Resources", I was twice able to Report New Data by checking in a resource with a blank Description.  That is, I chose the "NVOAD Test Disaster", left the Description field blank, filled out the other fields, and clicked the Checkin button.

To see the results:

1. Go to https://crisischeckin-d.azurewebsites.net/Volunt

[2016-05-24 23:23] lhanscom commented on #608
See PR #636

[2016-05-25 02:17] BillWagner commented on #608
Fixed in PR #636

[2016-05-25 02:17] #608 closed

[2016-06-01 18:43] andrewhart098 commented on #606
The button should probably not appear before logging in.  I have created pull request #640 to address this issue.

[2016-06-03 13:51] andrewhart098 commented on #501
I am working on this

[2016-06-03 14:42] andrewhart098 commented on #606
The pull request has been accepted and this issue can now be closed.

[2016-06-03 14:43] #606 closed

[2016-06-03 14:43] andrewhart098 commented on #611
For now, I think it would be a really good idea to have at least one 'Test Organization' in the seed data.

[2016-06-03 15:32] andrewhart098 commented on #502
This feature has been taking care of with pull request #639 and can be closed.

cc @tonysurma

[2016-06-03 17:12] tonysurma commented on #502
Thanks!

[2016-06-03 17:12] #502 closed

[2016-06-06 17:07] andrewhart098 commented on #501
For now, I am going to assume a one to one relationship between Request and Volunteer. In other words, only one volunteer can be assigned (or assign themselves) to a request.

[2016-06-08 04:51] brunck commented on #631
If I log in as Administrator, I actually get a Null Reference exception when I click this button.
To reproduce, go to "View Checkins," select "Hurricane" and click Go, under Volunteer Name click on Add as Contact button under ", Bob."

[2016-06-09 13:54] NaveenP94 opened #641 "Error on login page - FIX REQUIRED"
There seems to be a small bug that may have occurred due to maybe a file not being committed properly or a path was specified incorrectly. The error is probably in the Views folder and has to do with one (or more) layout files.

follow this link to see the error message:
https://crisischeckin-d.azurewebsites.net/Account/Login?ReturnUrl=%2f

![bug](https://cloud.githubusercontent.com/assets/1727402

[2016-06-09 22:28] tonysurma commented on #641
I'm looking at this, it appears to be in the build... maybe didn't make it into project file or into the build on the website...

[2016-06-09 22:46] tonysurma commented on #641
Fixed this via PR #642

[2016-06-09 22:46] #641 closed

[2016-06-10 16:51] fuguedude commented on #466
I would like to work on this, starting with the fundamental aspect of managing admins for organizations. It links with my work on #468. Can I get input on how this should be implemented? I was thinking it could be simply that a volunteer profile (which is already linked to an organization) is marked as 'IsOrganizationAdmin'. Then when they log in under their existing volunteer account, a link is a

[2016-06-10 18:42] tonysurma commented on #466
I will comment this weekend but @NaveenP94 any thoughts as well?

Thanks for reaching out to work on this!

[2016-06-13 10:54] fuguedude commented on #466
No problem :) It's an exciting project, and I'm glad if I can be of help. Let me know if it would be best if I work on this or another issue.

[2016-06-13 14:33] andrewhart098 commented on #473
I am working on this.

[2016-06-13 14:55] tonysurma commented on #473
thx for picking this up.  I have invited you to the repo so I can assign items to you etc.

[2016-06-13 15:00] tonysurma commented on #466
This looks to be a good approach.  Thanks for running with this.

[2016-06-13 15:24] NaveenP94 commented on #466
@fuguedude your previous comment about your plan to execute this request looks good. Thank you.

[2016-06-14 09:08] fuguedude commented on #466
Ok thanks, I'll work on this soon.

[2016-06-14 15:41] andrewhart098 opened #644 "Filtering requests by date"
Administrators can filter Requests on the Requests page by several fields, including the date the Requests was created.  The CreatedDate property on the Requests model is currently saved as date and time.  Administrators are only given the option of filtering based on a date.  The Filter method in RequestService needs to only filter by date and not date and time.

[2016-06-14 20:02] andrewhart098 commented on #644
I believe one way to compare dates only with DateTime objects in EF6 is with DbFunctions.TruncateTime().

[2016-06-15 04:29] ktngoykalolo opened #647 "Contributing using Visual Studio 2015"
Would like to know if there are any particular changes to the way we contribute using VS 2015 ?
Is there any plans to move to .NET Core/ ASP.NET Core?

[2016-06-15 05:00] ktngoykalolo opened #648 "Suggestion- using 3rd party user controls"
I see that some grids are just plain HTML tables. Could we use the mvc.grid project ? Or the syncfusion mvc free controls ?

[2016-06-15 08:16] ktngoykalolo commented on #631
What is it supposed to do ?

[2016-06-15 13:55] miketull commented on #631
I'm not certain.  I was invited to do some testing as part of a QA
conference I was attending, and haven't seen detailed requirements or
acceptance criteria.  I only remember that nothing happened when I used the
buttons.

Mike Tull
Sr. Quality Assurance Technician, Classy Llama
www.classyllama.com

On Wed, Jun 15, 2016 at 3:16 AM, kevin tshimanga <notifications@github.com>
wrote:

[2016-06-15 14:03] tonysurma commented on #631
@NaveenP94 has details but in affect it will add that user as a contact to your organization.  The work is in flux so I am guessing two things happen:

for the null error, it is because the administrator is not part of an organization so code is not checking for that

for the refresh, this is a UX issue as it actually adds it as a contact to the organization but the current page loses the search c

[2016-06-15 14:06] tonysurma commented on #647
There are no issues contributing using VS2015 that I am aware of (it is what I and many others have been using) so you should be good.

As for .NET Core/ASP.NET Core, we have another project http://github.com/htbox/allready that is on asp.net core now and likely we will move this one to core 'someday' but for now am focused on building on top of the current stack for the foreseeable future.

Thank

[2016-06-15 14:06] #647 closed

[2016-06-15 14:08] tonysurma commented on #648
@BillWagner any thoughts on this?  We do have simple tables and haven't had much investment on UX updates but I haven't looked at impact of either of those to the project.  Thanks for the ideas and definitely looking for help to make the UI/UX more engaging and supportive of user needs

[2016-06-15 15:26] andrewhart098 commented on #454
@tonysurma There is a DB Resource table and associated migrations that have already been merged into master.  The Resource functionality specifics have been broken into other issues.  I am working on #473 and this existing Resource table/model seems to suffice.

[2016-06-15 15:40] andrewhart098 commented on #473
I'm somewhat confused as to how to handle the Allocator property.  Currently, a user does not need to be tied to an organization.  At least the 'Administrator' and 'Test User' that are added to the database are not tied to an organization.  My plan was to have the resource tied to the organization of the user that created the resource entry.  Since it might be the case where a user does not have a

[2016-06-15 17:40] NaveenP94 opened #650 "Mobile App development checklist"
This issue will layout the general requirements and desired features of the mobile app version of crisis checkin.

 PLEASE read the MobileAppdevelopmentv1.docx found under the folder called "Docs".I have also provided the link to a wireframe model of this app (designed to guide the front end dev).

Each task in the following task list will represent a front end view and a link to a corresponding i

[2016-06-15 17:42] NaveenP94 opened #651 "Mobile App - Login Page"
We want to have basic login page for register users and also provide the option to register for new users.

Back End:
This will have to validate the attempted login with the existing DB or registered users

[2016-06-15 17:52] NaveenP94 opened #652 "Mobile App - Registration"
This will be the screen a user will be taken to when they click "Register" on the login page. Like in the wireframe we want to have an option for a single volunteer and an organization to register. As the toggle back and forth the amount and type of questions will be different.

Single user registration: will be the same as https://crisischeckin-d.azurewebsites.net/Account/Register

Organization r

[2016-06-15 18:06] NaveenP94 opened #653 "Mobile App - My Profile Home page"
Once a user has registered and been validated after they login this will be the page they are brought too.
It will display information about their account and also have several buttons to execute different operations like adding resources, contacts and field data, as well as checking in and out of disaster.

Back End:
This page will being pulling information from the user DB to be displayed.

[2016-06-15 18:07] NaveenP94 opened #654 "Mobiel App - Disaster Check in page"

[2016-06-15 18:44] NaveenP94 opened #655 "Mobile App - Add/View Contacts"
From the profile home screen if the user clicks add contact they will be brought to a screen that displays all the contacts for the disaster that they are checked into. We want to make is easy to the user to click on a contact and have the option to call, email, or "Add as Contact". Also the information like "Activity", "Organization", and "Location" etc. should be shown (similar to field displaye

[2016-06-15 19:17] NaveenP94 opened #656 "Mobile App - Add/view resources"
From the home profile screen when the user clicks the button to add a resources they will be brought to this page which is essentially a form they fill out similar to the screen shown in the wireframe about adding resources.
Back End:
**NOTE since right now the DB holding the field reported data is also holding the resources data (as it would potential be reported from the field) we want to specif

[2016-06-15 19:30] NaveenP94 opened #657 "Mobile App - Add/View Field Reported Data"
From the home profile screen when the user clicks the button to report data, they will be brought to this page that is a form to report data. This form serves the same purpose as the one found on https://crisischeckin-d.azurewebsites.net/ under "Report New Data"

From the home profile screen when the user clicks Disaster Field Data they will be brought to a different page that displays a table sim

[2016-06-15 19:37] BillWagner commented on #648
I'd be fine with any 3rd party components, as long as:
1. We (HTBox) get a license to use them.
2. Any public contributors can build and work on the project without a large outlay of funds.

I haven't looked at mvc.grid. How active is it? Is it still being maintained?

[2016-06-15 23:34] tonysurma commented on #473
Thx, ignore allocater for now to proceed and we will have to create an issue to tie all users to orgs.  That is leftover from when we didn't have orgs but every user must be in an org and the sample data could make an htbox org for admin and 'Test non profit' org for user sample account.

Thx for contributing

[2016-06-15 23:35] tonysurma commented on #454
Sounds right, closing this

[2016-06-15 23:35] #454 closed

[2016-06-16 09:05] ktngoykalolo commented on #648
Dear Bill and Tony,

1.regarding syncfusion user controls, they require to request for a licence according to the [FAQ](https://www.syncfusion.com/products/communitylicense). the contact form to send the request is [here](https://www.syncfusion.com/products/community-contact-us)

2. regarding [Mvc.Grid](https://gridmvc.codeplex.com/) unfortunately it seems like the project has not been updated sin

[2016-06-16 17:27] NaveenP94 opened #659 "Mobile App - View Requests"
This feature has been recently added to the crisis checkin site. It basically allows admins to create tasks/request and assign them to users as well as mange the tasks. For the mobile app we would simply like to create a way for users to view the tasks that they have been assigned as well as mark them as completed. We will not be tackling the admin controls of this feature from the mobile app.

Ba

[2016-06-17 00:56] jsturtevant commented on #655
Does "Add as Contact" mean add contact from disaster to the phones contact list?

[2016-06-17 02:43] tonysurma commented on #655
From disaster to list in app, BUT that is a great idea to add app contacts to your phone!

[2016-06-17 23:56] fuguedude commented on #466
Just to say I am a little behind and still working on aspects of the other issue, so if someone wants to pick this up then feel free. Otherwise I'll get to it in around 2-3 days.

[2016-06-18 02:01] tonysurma commented on #466
no worries and thanks for contributing!

[2016-06-18 13:12] zipswich commented on #659
I will give it a shot.

[2016-06-18 13:17] rudnyg commented on #652
I can work on the registration page

[2016-06-18 13:24] brunck commented on #654
@jsturtevant @NaveenP94 please assign me to this one. Thanks.

[2016-06-18 13:32] jknollmeyer commented on #655
I'll work on this as part of the codeathon

[2016-06-18 13:42] wingtang commented on #651
Please assign me to these.

[2016-06-18 13:44] jsturtevant commented on #653
I will pick this one up

[2016-06-18 15:03] fhilton commented on #656
I'll give this one a try

[2016-06-18 15:23] tonysurma commented on #651
@wingtang I invited you to the repo so we can assign this.  Thanks!

[2016-06-18 15:23] tonysurma commented on #659
@zipswich  I invited you to the repo so we can assign this.  Thanks!

[2016-06-18 15:24] tonysurma commented on #656
@fhilton  I invited you to the repo so we can assign this.  Thanks!

[2016-06-18 15:24] tonysurma commented on #655
@jknollmeyer  I invited you to the repo so we can assign this.  Thanks!

[2016-06-18 15:36] pgeeh opened #665 "Navigation Layout Changes For Administrator depending on whether Viewing Administrator or Volunteer Components"
The navigation bar on the website changes depending on which page is viewed, either an administrator page or a volunteer page, and does not show all functionality at once requiring multiple jumps for navigation.

Terminology:
administrator 'request' page (create/edit requests): /Requests
volunteer 'request' page (view open/self assign/complete): /Requests/VolunteerRequestIndex

Only one of these i

[2016-06-18 15:46] tonysurma commented on #656
Some clarification on where the data for this one is stored.  TL;DR : its in the resources table

today this is the resources table

as things have evolved what was originally just 'resources' has become resources '50 fire trucks are here' to be broader to field reported data '1 dumpster is on fire here' '1000 pamphlets handed out here' etc.

so we are working on making the UI/web speak in data (w

[2016-06-18 17:17] AgileAwlReet commented on #657
I'll give this one a try

[2016-06-18 18:01] jsturtevant commented on #654
This says that the profile page will be what is displayed after the logging in but the wire frame shows the CheckIn page for #654 as the page after the login.   This seems to make more sense because everything else will be filtered via disaster on the profile page.

[2016-06-18 18:03] tonysurma commented on #657
Thx, FYI not noted here but fhilton was asking q's about this one so not sure if they are working on it as well

[2016-06-18 18:03] jsturtevant commented on #653
This says that the profile page will be what is displayed after the logging in but the wire frame shows the CheckIn page for #654 as the page after the login. This seems to make more sense because everything else will be filtered via disaster on the profile page.

[2016-06-18 18:20] tonysurma commented on #653
Profile page is correct answer

[2016-06-18 18:21] tonysurma commented on #654
Profile page is correct

[2016-06-18 21:20] zipswich commented on #659
The web API should be fine.
The basic components of the mobile app for this issue are there. It needs the following:
1. UI polishing.
2. Change the code to use the id of the authenticated user instead of a fixed id.

[2016-06-18 21:23] zipswich commented on #659
The current simple UI:
![ht requests page](https://cloud.githubusercontent.com/assets/6095671/16173750/39fc8742-3579-11e6-9448-a83e1b803ed8.png)

[2016-06-20 13:24] andrewhart098 commented on #665
Hi @pgeeh, I noticed this too.  I thought I fixed this issue with #663.   Can you make sure that you have the latest code pulled down and check again?  Are you looking at the test website or are you running the solution locally?

[2016-06-20 14:41] andrewhart098 commented on #501
I believe this issue can be closed now that #643 has been merged.

[2016-06-20 14:41] andrewhart098 commented on #473
I believe this issue can be closed now that #658 has been merged.

[2016-06-20 15:38] andrewhart098 commented on #503
I have opened PR #675 to address this issue.

[2016-06-23 02:45] BillWagner commented on #501
Thanks @andrewhart098 Closing now.

FYI: If you put "fixes #501" (substitute the correct issue number) in the PR description, GitHub will close the issue when the PR is merged.

[2016-06-23 02:45] #501 closed

[2016-06-23 02:47] BillWagner commented on #473
Thanks @andrewhart098 Closing now.

[2016-06-23 02:47] #473 closed

[2016-06-23 13:57] fuguedude commented on #466
Ok, I'm now working on this.

[2016-06-23 21:35] tonysurma commented on #466
@fuguedude thanks, I would like to assign it to you but you would have to accept my invite to the repo so I can assign you.  Let me know if you can or if you need me to resend.  Thanks again.

[2016-06-23 21:40] fuguedude commented on #466
Thanks @tonysurma, just accepted.

[2016-07-05 20:56] mjmilan commented on #648
If Mvc,Grid works, why be alarmed about the 2014 modification date? It's open source - in the unlikely event we have a problem can we not submit a fix back / fork their codebase?

[2016-08-06 16:05] gmford opened #682 "Web App - Admin - Typo on /Requests/Details"
On /Requests/Details, the word "Assigniee" should be "Assignee".

![assignee](https://cloud.githubusercontent.com/assets/20876231/17457929/776db250-5bca-11e6-8471-d215302ce648.png)

[2016-08-06 16:08] cmgutmanis commented on #599
Working on this

[2016-08-06 16:37] gmford opened #683 "Web App - Volunteer - Error when navigating to My Organization"
When I log in as TestUser and navigate to My Organization, a server error is generated.

![myorgerror](https://cloud.githubusercontent.com/assets/20876231/17457888/2ade6998-5bca-11e6-8ae2-9b02fc1d6893.png)

[2016-08-06 17:02] #599 closed

[2016-08-06 19:00] gmford opened #686 "Web App - Admin - Change the field label 'ClusterGroupId' on the Create / Update Cluster page"
Change 'ClusterGroupId' to 'Cluster Group':
![clustergroupid](https://cloud.githubusercontent.com/assets/20876231/17458636/112f427e-5bde-11e6-9f9d-2e4ad09eab79.png)

[2016-08-06 19:09] gmford opened #687 "Web App - Admin - Change the header text on the Cluster Group page"
Change 'List of Clusters' to 'List of Cluster Groups':
![listofclustergroups](https://cloud.githubusercontent.com/assets/20876231/17458662/32053ee4-5bdf-11e6-9792-0e87eed40ac0.png)

This will differentiate it from the Cluster List page.

[2016-08-06 19:22] #682 closed

[2016-08-06 19:28] gmford opened #689 "Web App - Admin - Is there a need to have separate pages for 'Add New Cluster' and 'Add New Cluster Group'?"
On the List of Disasters page, there are buttons for 'Add New Cluster' and 'Add New Cluster Group':
![addclustersandgroups](https://cloud.githubusercontent.com/assets/20876231/17458723/6b56b16c-5be1-11e6-9a23-d3463902d384.png)

However, the 'Cluster List' and 'Cluster Group List' pages both have 'Create New' links, which allow the user to add an entry.

Unless there are different levels of admin p

[2016-08-06 20:25] gmford opened #690 "Web App - Volunteer - There are two forms on the Volunteer Home page; clicking the 'submit' button on one form fires the error checking for both"
In the 'Make a New Commitment' section, I selected a Disaster and clicked 'Volunteer'. However, error messages for required fields appeared in both that section and the 'Report New Data' section below:
![errorcheckingbothforms](https://cloud.githubusercontent.com/assets/20876231/17458900/bb2b21ca-5be9-11e6-90fb-2f4c0eba8a19.png)

The same happens in the 'Report New Data' section if I select a Disa

[2016-08-06 20:37] gmford opened #691 "Web App - Volunteer - On the Volunteer Home page, two fields are not using the correct CSS class"
In the 'Report New Data' section, the 'Description' and 'Quantity' input fields do not have the `class="form-control"` attribute:
![missinginputcss](https://cloud.githubusercontent.com/assets/20876231/17458943/ac84e7f8-5beb-11e6-8b9f-36c3521b2f55.png)

[2016-08-06 20:46] gmford opened #692 "Web App - Volunteer - On the Volunteer Home page, not all fields marked as required are being enforced"
In the 'Report New Data' section, the 'Description' and 'Location' input fields are marked as required, but if I leave them blank and click 'Checkin', no error messages appear:
![requirednoerror](https://cloud.githubusercontent.com/assets/20876231/17458980/ee060d00-5bec-11e6-8ded-34670b5c0a6a.png)

[2016-08-06 21:14] gmford opened #694 "Web App - Volunteer - On the Volunteer Home page, I cannot save data"
I complete fields in the 'Report New Data' section and click 'Checkin':
![reportnewdata](https://cloud.githubusercontent.com/assets/20876231/17459079/cf73da12-5bf0-11e6-9948-108514deec4f.png)

But my data doesn't appear after the page refreshes:
![reportnewdatamissing](https://cloud.githubusercontent.com/assets/20876231/17459081/d51736a8-5bf0-11e6-92f6-67c3713b4b5b.png)

[2016-08-07 03:13] TheTopher commented on #694
I was watching the video that Tony provided earlier today that demonstrated this page.  I noticed that the behavior in the video is as you outline above (and I found it rather jarring watching it).  To see your data you have to go to another page.  Is this by design?

[2016-08-07 14:04] #686 closed

[2016-08-07 14:04] #687 closed

[2016-08-07 14:14] TheTopher commented on #683
Hey, I'll take this.

[2016-08-07 14:30] cmgutmanis opened #695 "Expose ability to add new organization"
Endpoints and views to create new organization exist; however, there are no links to take the user to those views. Add a link on the Organization list page to do this.

[2016-08-07 14:50] tonysurma commented on #694
This is not by design, it should show the data on the current page.  I think it is a refresh or UI issue as, as you said, the data is saved it just isn't displayed.

[2016-08-07 15:14] cmgutmanis opened #697 "Incorrect querystring on new organization confirmation email"
When registering a new organization, the confirmation email sent contains an incorrect querystring value.

![image](https://cloud.githubusercontent.com/assets/3458889/17463255/a9e5235e-5c87-11e6-8f15-9ed64eba7a96.png)

[2016-08-07 16:04] gmford opened #699 "Can the version/build number be added to each page?"
See the page footer on the allReady app for an example.

[2016-08-07 16:43] tonysurma commented on #699
please see https://github.com/HTBox/allReady/issues/1086 and https://github.com/HTBox/allReady/issues/314 for implementation reference.  Need to update a file, do it during build and deploy on azure

[2016-08-07 16:43] #697 closed

[2016-08-07 16:44] #695 closed

[2016-08-07 16:51] tonysurma commented on #683
I am going to break this out into 2 issues.  This one and a separate one to check and see if you can register/create a user a without an organization per @cmgutmanis finding.

[2016-08-07 16:54] cmgutmanis commented on #683
@tonysurma yup you're right. You can create a new user with no organization, though you can really only (afaik) create a new organization as a volunteer so there could be a situation with a new instance of the app where there's no orgs and no users to create them

[2016-08-07 16:59] tonysurma opened #701 "Ensure user is created/registered with an organization as system assumes that now"
expands on #683

Need to verify that if you register/create a user interactively it requires an organization to be picked.  Without that you would get the same issue we saw in #683

[2016-08-07 17:00] tonysurma commented on #683
I just made a new issue that captures that and @TheTopher 's changes now make sure there is always an org seeded in the database at start so we should be able to break that cycle

[2016-08-07 19:23] TheTopher opened #704 ""The Organization field is required" error not clearing on Registration page"
Reference #701
The error message "The Organization field is required" that appears directly below the pull-down UI is not cleared when a valid organization is selected.  It will clear when the "Create new account" button is pressed, however, other fields that have the immediate feedback attached to the input UI clear upon entering valid data and losing focus.  This behavior (and the visuals) are i

[2016-08-07 20:49] TheTopher commented on #692
There are issues with this page that make the fix a larger project than defining identifying required fields.
Overview:
There are two sections of this page: 1) "Make a new commitment" and 2) "My Organization Resources".  Both appear to be controlled by the same view model in: "ViewModels/VolunteerViewModel.cs.".  This is causing issues with the validations of required fields on the page.  When eit

[2016-08-07 20:54] gmford commented on #692
Is this related to #690?

[2016-08-20 16:23] robrich commented on #699
Solved via https://github.com/HTBox/allReady/pull/815, can close.

[2016-09-18 19:36] ktngoykalolo commented on #648
Hello, I think we can use Mvc.Grid.
we should be able to submit a fix or fork the original codebase.

[2016-09-19 04:47] mjmilan commented on #648
Just to let you know, I used this control when I used to work for
thebigword... it's a decent, quality grid...

On 18 Sep 2016 20:36, "kevin tshimanga" <notifications@github.com> wrote:

[2016-09-19 14:50] BillWagner commented on #648
Thanks @mjmilan and @ktngoykalolo

With your recommendations, I"m happy to take a PR that takes a dependency on MVC.Grid.

[2016-10-21 15:50] augustlu commented on #704
I  guess it's because organization field is a dropdown box while the others are text boxes which already have built in form-control. Looking into making the message disappear after user select an OrganizationId.

[2016-10-21 16:41] augustlu opened #705 "“Create New Account“ disabled when password meets requirements"
Steps to recreate:

1. Fill in all the text boxes that meet requirements but not select an organization. No “The Organization field is required” error message yet.
2. Click “Create New Account” button which is enabled at this point. Page refresh, “The Organization field is required” error message shows up. Passwords cleared.
3. Choose an organization, “The Organization field is required” error mes

[2016-11-06 11:12] mjmilan commented on #704
Can this issue be closed then?

[2016-11-08 20:44] abhijeet2083 commented on #704
this issue has been fixed

[2017-02-28 03:42] brunck commented on #650
@BillWagner @tonysurma The wireframe link is now bad. Are we still pursuing this flow?

[2017-04-22 04:05] johnmwright commented on #403
Is this still an issue that needs to be fixed?

[2017-04-22 04:07] johnmwright commented on #683
@tonysurma it looks like you committed a fix against this issue. Is there still more work to be done or should this issue be closed?

[2017-04-22 14:11] tonysurma commented on #683
thanks for finding that @johnmwright and welcome to the project!

[2017-04-22 14:11] #683 closed

[2017-04-22 14:11] #403 closed

[2017-04-22 14:14] #694 closed

[2017-04-27 13:50] wmay1991 commented on #701
I check the azure site and if you don't select an organization. You receive an error.
![image](https://cloud.githubusercontent.com/assets/12055979/25486360/e81829b6-2b2e-11e7-9b3e-ea288999bbeb.png)

[2017-04-27 14:04] wmay1991 commented on #691
I can look into this

[2017-04-27 14:15] wmay1991 commented on #691
After the fix
![image](https://cloud.githubusercontent.com/assets/12055979/25487524/7c414566-2b32-11e7-9e85-c06c19ca31a5.png)

[2017-04-27 14:21] wmay1991 commented on #705
I can take a look into this.

[2017-04-27 14:33] wmay1991 commented on #705
Does the Create New Account button ever need to be disabled?

[2017-04-27 18:04] wmay1991 commented on #690
I can look into this.

[2017-11-12 13:32] stevejgordon opened #710 "Mandatory Fields on Home Screen Issue"
Moved from allReady project as incorrectly raised there during the STARWest testing:

Home Screen (once logged in) >> Make New Commitment >> Fill In All Fields and Click Volunteer >> fields under "Report New Data" is marked even though it is a separate field and you cannot make a new commitment. Even if you fill in the description field, it still shows an error.

[2017-11-12 13:48] stevejgordon opened #711 "STARWEST USABILITY - Unhandled Exception when Selecting my organisation on main tab"
Incorrectly filed in allReady repo during STARWest:

When selecting the My Organization tab in the main page an unhandled exception is generated which leads to a stack trace and confusing error message.

The consequence of leaving this behaviour in the live system is that operators may be distracted and loose their focus or confidence in trying to confirm they are associated with the correct organ

[2017-11-29 19:57] bharathbs opened #712 "Registration - Organization Issue"
When registering, organization is not marked as mandatory, even though it is. Cannot register without organization.

Linked to https://github.com/HTBox/allReady/issues/2130#issuecomment-347938990

[2017-11-29 20:20] bharathbs commented on #712
I will take this issue

[2017-11-29 20:21] bharathbs commented on #712
Sorry ,Mistakenly closed the issue

[2018-01-03 07:54] stevejgordon opened #714 "#Starwest- Issue with Security Code"
Originally posted in error in the allReady repo - https://github.com/HTBox/allReady/issues/2143

When you fill out the form it sends you to the security code screen and then puts you back to the form and invalidates your email, city, state and zip

[2018-10-04 18:42] 333JeremySloan opened #715 "Crisis Checkin login page appears vulnerable to cross-site scripting"
It looks like login input fields are not being properly sanitized.

Steps to reproduce:

Access https://crisischeckin-d.azurewebsites.net/Account/Login

Enter one of the following values as username:
`<SCript> `
`&#39;`

Result: Server returns full stack trace error

[2018-10-18 20:15] Simon-Carr opened #716 "Virtual - CheckinResource - Many chars in Quantity gives an error messages that stretches the webpage a long way to the right"
Note this is copied from:
https://github.com/HTBox/allReady/issues/2338

which is in the wrong repo.

https://crisischeckin-d.azurewebsites.net/Organization/CheckinResource

1. Choose any Disaster
2. Fill in something in Description
3. Fill in the following in Quantity:

lwknwlkgnwgklngwlkgnwglkwngwlkgnwglwkngwlgkwngwklgnwglkwngwklgnwgklwngwlkgnwglwknwgklwngwlkgnwglkwnlwknwlkgnwgklngwlkgnwglkwngwl

[2019-09-27 02:01] seanjrng commented on #705
Just tried this locally and cannot reproduce. @anqi-lu Do you remember what browser you were using? If this is no longer an issue maybe we should close it?

[2020-09-16 19:56] #227 closed